@import url(https://fonts.googleapis.com/css?family=Lato);
//@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

$font-family-sans-serif : 'Lato', sans-serif;
$font-size-base : 16px !default;
$icon-font-path : '../../fonts/bootstrap/';




@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../css/libs/dropzone";
@import "../../css/libs/jquery-confirm.min";
@import "../../css/libs/bootstrap-datetimepicker";
@import "../../css/libs/dataTables.bootstrap.min";
@import "../../css/libs/jquery-ui";
@import "../../css/libs/jquery-ui.structure";



/* START: Default */

body {
  padding : 170px 0px 80px;
}

a {
  &:focus {
    outline : 0px none;
  }
}

/* END: Default */

.logo {
  display: block;
  width: 234px;
  height: 65px;
  /*background-image: url(../../images/logo.png);*/
  background-image: url(../../images/logo-psi-middle-east.svg);
  background-size: 234px 65px;
  text-indent: -100px;
  overflow: hidden;
  margin-top: 20px;

}

#topbar {
  margin-bottom: 30px;
}

/* START: Common */

.heading {
  margin-top    : 50px;
  margin-bottom : 50px;

  h1 {
    margin : 0px;
  }
}

/* END: Common */

/* START: Add/Edit Form */

.form-tablist {
  margin-bottom : 50px;
}

.form-group, .checkbox {
  margin-bottom : 30px;
}

.form-control {
  border-color : #DDD;
  box-shadow   : none;
  outline      : none;

  &:focus {
    border-color : #999;
    box-shadow   : none;

  }
}

.translation-field {
  border: 1px solid rgb(0, 181, 255);

  &.padded {
    padding: 15px;
  }

  &.round-edges {
    border-radius: 4px;
  }
}


.form-actions {
  margin-top : 50px;

  &.on-top {
    margin-bottom : 50px;
  }
}


.checkboxes {
  label {
    margin-right : 15px;
  }
}


/* END: Add/Edit Form */

/* START: Record List */
#record-list {
  margin-bottom: 30px !important;
  margin-top: 10px !important;
}
table.table {
  .actions {
    text-align : center;
    width      : 100px;

    a {
      margin          : 0px 5px;
      color           : #333;
      text-decoration : none;
    }
  }
}

/* END: Record List */

/* START: TinyMCE */

.mce-tinymce {
  border-radius : 3px;
}

.mce-panel {
  border-color : #DDD;
}

.mce-toolbar-grp {
  border-top-right-radius : 4px;
  border-top-left-radius  : 4px;
}

.mce-statusbar {
  border-bottom-right-radius : 4px;
  border-bottom-left-radius  : 4px;
}

/* END: TinyMCE */

/* START: Dropzone */

.dropzone {
  border        : 1px dashed #333;
  border-radius : 4px;
  background    : #F1F1F1;

  .dz-message {
    font-size : 22px;
    color     : #999;
  }

  .dz-preview {
    .dz-image {
      border-radius : 0px;
    }
  }
}

/* END: Dropzone */

/* START: Media */

.media-grid {
  .media-file {
    width   : 25%;
    padding : 15px;
    height: 200px;

    .img-thumbnail {
      border-radius : 3px;
      border: 0px none;
      padding : 0px;
      max-height: 170px;
    }

    input[type=checkbox] {
      display : none;
    }

    label {
      position : relative;

      .glyphicon-ok, .glyphicon-remove {
        display     : none;
        position    : absolute;
        left        : 0px;
        right       : 0px;
        top         : 50%;
        margin-top  : -24px;
        line-height : 1;
        font-size   : 48px;
        text-align  : center;
        color       : #57D516;
      }

      .glyphicon-remove {
        color : #FF4304;
        cursor : pointer;
      }
    }

    .file-link {
      overflow: hidden;
      display: inline-block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      max-width: 100%;
      overflow: hidden;
    }

    &.pdf, &.document {
      .file-link {
        top: 50%;
        left: initial;
        transform:translateY(-50%);
      }
    }

    &.selected {

      .glyphicon-ok {
        display : block;
      }

      img {
        opacity : 0.8;
      }
    }

    &.removed {
      .remove {
        display : none;
      }

      label {
        .glyphicon-remove {
          display : block;
        }
      }

      img {
        opacity : 0.5;
      }
    }

  }

  .pdf, .document {
    text-align : center;

    .glyphicon-file {
      font-size : 72px;
      color     : #333;
    }
  }

  /*a[data-toggle='tooltip'] {
    display : inline-block;
  }*/

  .remove {
    width         : 20px;
    height        : 20px;
    position      : absolute;
    top           : 15px;
    right         : 15px;
    background    : #333;
    border-radius : 50px;
    text-align    : center;
    z-index: 1;

    .glyphicon-remove {
      color : #FFF;
    }
  }

  &.manage-media {
    .media-file {
      height: 300px;
      padding : 15px;

      .file {
        width: 100%;
        height: 185px;

        label {
          overflow: hidden;
          display: inline-block;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          max-width: 100%;
          overflow: hidden;
        }
      }

      &.pdf, &.document {
        label {
          top: 50%;
          left: initial;
          transform:translateY(-50%);
        }
      }

    }

    .remove {
      z-index : 1;
      top : 10px;
      right : 10px;
    }
  }

  &.select-media {
    .media-file {
      label {
        overflow: hidden;
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 100%;
        overflow: hidden;
      }

      &.pdf, &.document {
        label {
          top: 50%;
          left: initial;
          transform:translateY(-50%);
        }
      }
    }
  }
}

.media-detail {
  .pdf, .document {
    text-align : center;
    padding    : 40px;

    .glyphicon-file {
      font-size : 200px;
      color     : #333;
    }
  }

  .media-file {
    margin-bottom : 20px;

    .img-thumbnail {
      border:0px none;
      padding : 0px;
      border-radius: 3px;
    }
  }
}

/* END: Media */

/*----------------------------------------------*/

/* START: Tiers */

.tier-source {
  display : none;
}

.tier {
  margin-bottom : 15px;
}


/* END: Tiers */


/*----------------------------------------------*/

/* START: Save Order Form */

[data-save-order-form] {
  display: inline-block;
}

/* END: Save Order Form */


/* START: Custom Fields */

#custom-field-tiers {
  .tier {
    cursor: move;
    position: relative;
    padding-left: 5px;

    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 100%;
      background: url("../../images/dotted-pattern.png");
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0.5;
    }
  }
}

/* END: Custom Fields */

/*----------------------------------------------*/

/* START: Credits */
.credits {
  margin-top: 30px;
  font-size: 14px;
  color: #8f8f8f;
  text-align: right;
}
.bb-logo-small {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../../images/bb.svg") no-repeat;
  text-indent: 200px;
  overflow: hidden;
  position: relative;
  top: 8px;
  margin-left: 5px;
  text-decoration: none;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

/* END: Credits */

.image-actions {
  margin-top: 30px;
}

.media-actions {
  margin-top: 20px;
}


