body {
  direction: rtl;
}
.dropdown-menu {
  .placeholder:after {
    margin-left: 0;
    margin-right: 10px;
  }
}
.select-box:after {
  right: auto;
  left: 20px;
}
nav.main-nav {
  direction: rtl;
  ul {
    float : left;
  }
  .language-switch {
    margin-right: 0;
    margin-left: 50px;
  }
}
#hero-wrapper {
  .cta {
    right: 60px;
    left: auto;
  }
}
#upcoming-occasion-tabs {
  left: auto;
  right: 0;
  .occasion {
    .name, .date  {
      float: right;
    }
    .date {
      text-align: left;
    }
  }
}
#latest-news {
  h4 {
    float: right;
  }
  a.all {
    float : left;
  }
}
.slick-slide {
  float : right;
}
#newsletter-signup {
  .buttons {
    float : left;
  }
  .email {
    padding-right: 0;
    padding-left: 60px;
  }
  .signup-benefits {
    .nl_video {
      float : right;
      padding-right: 0;
      padding-left: 20px;
    }
  }
}
#our-locations {
  h4 {
    float: right;
    margin-right: 0;
    margin-left: 50px;
  }
}
#social {
  > div {
     float : right;
   }
}
.tabs {
  li {
    float : right;
  }
}

footer {
  nav {
    float: right;
    ul {
      li {
        float : right;
      }
    }
  }
  .copyrights {
    float: left;
    text-align: left;
  }
}

#breadcrumb {
  left: auto;
  right: 0;
  li {
    float : right;
    margin-right: 0;
    margin-left: 2px;
  }
}
#banner {
  .blur-bg-title {
    padding: 10px 60px 10px 0px;
    .bg {
      left: auto;
      right: 0;
    }
  }
  .cta-banners {
    left: 60px;
    right: auto;
    .cta {
      margin-left: 25px;
      margin-right: 0;
      float: right;
    }
  }
}
.cta-banners {
  .cta {
    float : right;
  }
}
#calendar {
  .name, .month {
    float : right;
  }
  .row {
    .name {
      .media-body {
        text-align: right;
        padding-right: 10px;
      }
    }
  }
}
#page-header {
  #side-menu {
    left: 60px;
    right: auto;
  }
}
.main-container {
  .right-column {
    float : left;
    margin-left: 0;
    margin-right: 60px;
  }
  .left-column {
    ul {
      li {
        padding-left: 0;
        padding-right: 22px;
      }
    }
    > ul li:before {
      left: auto;
      right : 0;
      padding-left: 10px;
      padding-right: 0;
    }
  }
  .content-container {
    > ul {
      text-align: right;
      li:before {
        left : auto;
        right : 0;
        padding-right: 0;
        padding-left: 10px;
      }
    }
  }
}
#occasion-body {
  .relevant-items {
    .item {
      float : right;
      padding-left: 25px;
      padding-right: 0;
    }
  }
}
#booking-body {
  .logo {
    float : right;
    margin-right: 0;
    margin-left: 30px;
  }
  .details {
    .button {
      float : right;
    }
  }
  .form-group {
    float: right;
    &.right {
      float: left;
    }
  }
}
#booking-form {
  .cost {
    text-align: left;
  }
  h4 {
    padding-left: 30px;
    padding-right: 0;
  }
}
#careers-slider {
  .overview-content {
    float : right;
  }
  .jobs {
    float : left;
    padding: 0px 0px 0px 595px;
  }
}
#careers-body {
  .left-column {
    padding-right: 0;
    padding-left: 60px;
  }
}



@media screen and (max-width: 960px) {
  nav.main-nav {
    ul {
      float: none;
    }
    .language-switch {
      margin-right: 0;
      margin-left: 0;
    }
  }
  #newsletter-signup {
    .buttons {
      float: none;
      text-align: center;
    }
  }
  #careers-slider {
    #side-menu {
      h4 {
        text-align: right;
      }
    }
    .jobs {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .main-container {
    .right-column {
      margin-right: 0;
    }
  }
  #banner {
      img {
      transform: translateX(50%);
      left: auto;
      right: 50%;
    }
    .blur-bg-title {
      padding-right: 20px;
    }
  }
  #page-body {
    .page-tabs {
      .current-tab {
        text-align: right;
        right: auto;
        left: 15px;
        &:after {
          right: auto;
          left: 15px;
        }
      }
      
      li {
        a {
          font-size: 18px;
          padding-left: 5px;
          padding-right: 10px;
        }
      }
    }
  }
  #our-locations {
    h4 {
      float : none;
    }
  }

}


@media screen and (max-width: 640px) {
  #booking-body .logo {
    float: none;
  }
  footer {
    nav {
      float: none;
    }
    .copyrights {
      float: none;
      text-align: center;
      clear: both;
      padding-top: 15px;
    }
  }
  .media-left {
    padding-left: 10px;
    padding-right: 0;
  }
}
