
#banner .occasion-title .bg {
    background-image: url("../images/ie_occassions_blur_banner.jpg") !important;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}
