@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
    #banner .blur-bg-title .bg {
        bottom: 0px;
        top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-image: url("../images/blur-white-bg.jpg") !important;
        opacity: 0.8;
    }

    #banner .occasion-title .bg {
        background-image: url("../images/ie_occassions_blur_banner.jpg") !important;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
    }

    nav.secondary-nav ul {
        display: table;
    }

    nav.secondary-nav ul li {
        display: table-cell;
    }

    nav.secondary-nav ul li.active {
        background: none;
    }

    nav.secondary-nav ul li a{
        display: inline-block;
    }

    #side-menu a{
        margin-bottom: 0px;
        border-bottom: 1px solid #178bc0;
        box-shadow:none;
    }
}
