@charset "UTF-8";
/*
// Mixins
@mixin border-box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transform($transforms...) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  transform: $transforms;
}

@mixin translate-y($translate-y) {
  @include transform(translateY($translate-y));
}

@mixin translate-x($translate-x) {
  @include transform(translateX($translate-x));
}

@mixin text-gradient($direction, $color-stops...) {

  @if $direction == "none" {
    background: none;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;
  } @else {
    background: -webkit-linear-gradient($direction, $color-stops);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin radial-gradient($gradients...) {
  -webkit-background-image: radial-gradient($gradients);
  -moz-background-image: radial-gradient($gradients);
  -o-background-image: radial-gradient($gradients);
  background-image: radial-gradient($gradients);
}

@mixin linear-gradient($gradients...) {
  -webkit-background: linear-gradient($gradients);
  -moz-background: linear-gradient($gradients);
  -o-background: linear-gradient($gradients);
  background: linear-gradient($gradients);
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  transition: $transitions;
}



@mixin box-shadow($shadow-val) {
  box-shadow: $shadow-val;
}

// Extendable Classes
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}



%default-box-shadow {
  @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}

*/
.text-left {
  text-align: right;
}

.text-right {
  text-align: left;
}

.pull-right {
  float: left;
}

.pull-left {
  float: right;
}

/* START: Media */
.media-right,
.media > .pull-right {
  padding-left: 0px;
  padding-right: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 0px;
  padding-left: 10px;
}

.media-list {
  padding-right: 0;
  list-style: none;
}

/* END: Media */
/* START: Table */
.table-column {
  padding-right: 0px;
  padding-left: 10px;
}

/* END: Table */
/* START: Import Libraries */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}*/
/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

/* Icons */
/*@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}*/
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  background: url("../images/sprite.png") #FFF;
  background-size: 250px;
  background-position: -32px 7px;
  transition: all 150ms ease-out;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0.25;
}

.slick-prev {
  left: -100px;
  transform: translate(0, -50%) rotate(180deg);
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -100px;
  transform: translate(0, -50%);
}
.slick-prev:hover {
  left: -105px;
}
[dir=rtl] .slick-prev:hover {
  left: auto;
  right: -105px;
}

.slick-next {
  right: -100px;
}
[dir=rtl] .slick-next {
  left: -100px;
  right: auto;
  transform: translate(0, -50%) rotate(180deg);
}
.slick-next:hover {
  right: -105px;
}
[dir=rtl] .slick-next:hover {
  right: auto;
  left: -105px;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* END: Import Libraries */
* {
  letter-spacing: 0 !important;
}

select {
  background-position: top 34px left 16px;
}

.tabs li {
  float: right;
  border-right: 1px solid #a9a7a8;
  border-left: 0px none;
}
.tabs li:first-child {
  border-right: 0px;
}

.radio-button label {
  padding-right: 50px;
  padding-left: 15px;
}
.radio-button .check {
  left: auto;
  right: 10px;
}
.check-box label {
  padding-right: 50px;
  padding-left: 15px;
}
.check-box .check {
  left: auto;
  right: 10px;
}
.check-box .check:before {
  /*margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  transform: rotate(45deg);*/
}

.select-box:after {
  right: auto;
  left: 20px;
}

@media screen and (max-width: 640px) {
  .select-box:after {
    left: 10px;
    right: auto;
  }
}
/* START: Header */
.dropdown-menu .placeholder-container {
  padding-left: 0px;
  padding-right: 30px;
}
.dropdown-menu .arrow {
  float: right;
}
.dropdown-menu .placeholder {
  float: right;
}
.dropdown-menu .placeholder:after {
  margin-left: 0px;
  margin-right: 10px;
}
.dropdown-menu .options {
  text-align: right;
}

nav.main-nav {
  margin-right: 0px;
  margin-left: 58px;
}
nav.main-nav ul {
  float: left;
}
nav.main-nav .language-switch {
  margin-right: 0px;
  margin-left: 50px;
}
@media screen and (max-width: 960px) {
  nav.main-nav {
    margin-left: 0px;
    margin-right: 0px;
  }
  nav.main-nav ul {
    width: 100%;
  }
  nav.main-nav .language-switch {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#search {
  left: 40px;
  right: auto;
}

#search-trigger {
  border-right: 1px solid #ededed;
  border-left: 0px none;
}

#search-form {
  right: auto;
  left: -1000px;
}
#search-form input[type=text] {
  float: right;
}
#search-form input[type=submit] {
  float: right;
}
#search-form.show {
  right: auto;
  left: 0px;
}

#search-result {
  float: right;
}

@media screen and (max-width: 1024px) {
  #search {
    right: auto;
    left: 20px;
  }
}
@media screen and (max-width: 960px) {
  #search-form {
    left: 0px;
    right: auto;
  }
  #search-form input[type=submit] {
    right: auto;
    left: 0px;
  }
}
@media screen and (max-width: 640px) {
  #search {
    left: 15px;
    right: auto;
  }
}
/* END: Header */
/* START: Footer */
footer nav {
  float: right;
}
footer nav a:first-of-type {
  padding-right: 0px;
}
footer .copyrights {
  float: left;
  text-align: left;
}
@media screen and (max-width: 640px) {
  footer .copyrights {
    text-align: right;
  }
}

/* END: Footer */
.main-container .right-column {
  float: left;
  margin-left: 0px;
  margin-right: 60px;
}
.main-container .left-column > ul li {
  padding-right: 22px;
  padding-left: 0px;
}
.main-container .left-column > ul li:before {
  right: 0px;
  left: auto;
  padding-right: 0px;
  padding-left: 10px;
}
.main-container .left-column .left {
  text-align: right;
}
.main-container .left-column .right {
  text-align: left;
}
.main-container .left-column img.left {
  float: right;
  margin-right: 0px;
  margin-left: 15px;
}
.main-container .left-column img.right {
  float: left;
  margin-right: 15px;
  margin-left: 0px;
}
.main-container .content-container > ul {
  text-align: right;
}
.main-container .content-container > ul li {
  padding-right: 22px;
  padding-left: 0px;
}
.main-container .content-container > ul li:before {
  left: auto;
  right: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
.main-container .content-container > ol {
  text-align: right;
}
@media screen and (max-width: 960px) {
  .main-container .right-column {
    width: 100%;
    margin-right: 0px;
  }
}

#hero-wrapper .cta {
  left: auto;
  right: 60px;
}
@media screen and (max-width: 640px) {
  #hero-wrapper .cta {
    left: auto;
    right: 50px;
  }
}
@media screen and (max-width: 400px) {
  #hero-wrapper .cta {
    right: 20px;
    left: auto;
  }
}

#upcoming-occasion-tabs {
  left: auto;
  right: 0px;
}
#upcoming-occasion-tabs .tabs li {
  border-left: 0px none;
  border-right: 1px solid #a9a7a8;
}
#upcoming-occasion-tabs .tabs li:first-child {
  border-right: 0px;
}
#upcoming-occasion-tabs .occasion .name, #upcoming-occasion-tabs .occasion .date {
  float: right;
  width: 50%;
}
#upcoming-occasion-tabs .occasion .date {
  text-align: left;
}
@media screen and (max-width: 640px) {
  #upcoming-occasion-tabs .tabs li {
    border-right: 0px none;
  }
}

#latest-news h4 {
  float: right;
}
#latest-news a.news {
  width: 100%;
}
#latest-news a.all {
  float: left;
}

@media screen and (max-width: 960px) {
  #logo-slider .slick-next {
    left: -70px;
    right: auto;
  }
  #logo-slider .slick-prev {
    right: -70px;
    left: auto;
  }
}

#newsletter-signup .header-row .title {
  float: right;
}
#newsletter-signup .header-row a.why-signup {
  float: left;
}
#newsletter-signup fieldset.form-columns-2 .input {
  margin-right: 0px;
  margin-left: 0px;
}
#newsletter-signup select {
  background-position: top 20px left 16px;
}
#newsletter-signup .signup-benefits .nl_video {
  float: right;
  padding-left: 40px;
  padding-right: 0px;
}
#newsletter-signup .signup-benefits ol {
  width: 50%;
  float: left;
  padding-left: 0px;
  padding-right: 40px;
}
@media screen and (max-width: 960px) {
  #newsletter-signup .signup-benefits ol {
    float: none;
  }
  #newsletter-signup .signup-benefits .nl_video {
    float: none;
  }
}
@media (max-width: 560px) {
  #newsletter-signup .header-row .title {
    float: none;
  }
  #newsletter-signup .header-row a.why-signup {
    float: none;
  }
}

#our-locations h4 {
  float: right;
  margin-right: 0px;
  margin-left: 50px;
}
@media screen and (max-width: 1000px) {
  #our-locations h4 {
    margin-left: 0px;
  }
  #our-locations .locations ul li {
    float: right;
    width: 33%;
  }
}

#social {
  direction: ltr;
}
#social #facebook .media-left {
  padding-right: 10px;
  padding-left: 0px;
}

#breadcrumb {
  left: auto;
  right: 0px;
}
#breadcrumb li {
  float: right;
  margin-left: 2px;
  margin-right: 0px;
}

#page-header #side-menu {
  left: 60px;
  right: auto;
}

#banner > img {
  /*-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";*/
}
#banner .blur-bg-title {
  padding-left: 0px;
  padding-right: 60px;
}
#banner .blur-bg-title .bg {
  left: auto;
  right: 0px;
}
#banner .occasion-title .bg {
  right: -60px;
  left: auto;
}
#banner .occasion-title .logo {
  margin-left: 30px;
  margin-right: 0px;
}
#banner .occasion-title .title {
  padding-left: 20px;
  padding-right: 30px;
}
#banner .occasion-title .button {
  padding-right: 0px;
  padding-left: 30px;
  text-align: left;
}
#banner .cta-banners {
  right: auto;
  left: 60px;
}
#banner .cta-banners .cta {
  margin-right: 0px;
  margin-left: 25px;
  border-left: 0px none;
}
@media screen and (max-width: 960px) {
  #banner .blur-bg-title {
    padding-right: 20px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 960px) {
  #banner img {
    position: relative;
    right: 50%;
    left: auto;
    transform: translateX(50%);
  }
  #banner .occasion-title > .logo {
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  #banner .blur-bg-title {
    padding-left: 0px;
    padding-right: 15px;
  }
  #banner .occasion-title .logo {
    margin-right: 0px;
    position: absolute;
    right: 50%;
    left: auto;
    transform: translateX(50%);
  }
}

#share {
  right: auto;
  left: 0px;
}

#team-dropdown {
  left: auto;
  right: 0px;
}
#team-dropdown .back {
  border-left: 1px solid #FFF;
  border-right: 0px none;
  float: right;
  padding-right: 10px;
  padding-left: 0px;
}
#team-dropdown .back .sprite-icon {
  transform: rotate(180deg);
}
#team-dropdown .dropdown {
  float: right;
  /*---------------------------------------------------------------------------------------------------*/
}
#team-dropdown .dropdown a {
  padding-right: 20px;
  padding-left: 0px;
}
#team-dropdown .dropdown > a .sprite-icon {
  right: auto;
  left: 10px;
}
#team-dropdown .dropdown ul {
  right: -9999px;
  left: auto;
}
#team-dropdown .dropdown:hover ul {
  right: 0px;
  left: auto;
}
@media screen and (max-width: 400px) {
  #team-dropdown .back {
    padding-right: 0px;
  }
}

.pagination .prev, .pagination .next {
  float: right;
}
.pagination .next {
  float: left;
}
.pagination ul {
  float: right;
}
.pagination li {
  float: right;
}
.pagination.page-1 ul {
  float: right;
  top: auto;
  right: auto;
  transform: translate(0, 0);
}
.pagination.page-last ul {
  float: left;
}

.cta-banners .cta {
  float: right;
  border-right: 0px none;
  border-left: 1px solid #d3d3d3;
}
.cta-banners .cta img {
  position: relative;
  top: 50%;
  right: 50%;
  left: auto;
  transform: translate(50%, -50%);
}
.cta-banners .cta:last-child {
  border-left: 1px solid #d3d3d3;
  border-right: 0px none;
}
@media screen and (max-width: 640px) {
  .cta-banners .cta {
    border-left: 0px none;
  }
}

#page-body .tabs-wrapper {
  margin-left: 0px;
  margin-right: 10px;
}
#page-body .tabs-wrapper .tabs li {
  border-right: 1px solid #e8e6e7;
  border-left: 0px none;
}
#page-body .tabs-wrapper .tabs li:first-child {
  border-right: 0px;
}
#page-body .tabs-wrapper .tabgroup a {
  text-align: right;
}
#page-body .tabs-wrapper .tabgroup a.pdf {
  padding-left: 0px;
  padding-right: 50px;
}
#page-body .tabs-wrapper .tabgroup a.pdf .sprite-icon {
  right: 0px;
  left: auto;
}
#page-body .page-tabs li {
  float: none;
  width: auto !important;
  border-bottom: 1px solid #CCC;
  border-right: 0px none;
}
#page-body .page-tabs li a {
  padding: 10px 15px;
  margin-left: 0px;
  text-align: right;
}
#page-body .page-tabs li.active {
  display: none;
}
#page-body .page-tabs .current-tab {
  display: block;
  position: relative;
  text-align: right;
}
#page-body .page-tabs .current-tab:after {
  display: block;
  content: " ";
  width: 25px;
  height: 25px;
  background-image: url(../images/arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: auto;
  left: 15px;
  top: 17px;
  transform: rotate(-90deg);
}
#page-body .page-tabs ul.tabs {
  max-height: 0px;
  overflow: hidden;
  transition: all 100ms ease-in-out;
}
#page-body .page-tabs.hover ul.tabs {
  max-height: 300px;
}
#page-body.article-body .left-column > ul li {
  padding-right: 0px;
  padding-left: 22px;
}
#page-body.article-body .left-column > ul li:before {
  right: auto;
  left: 0px;
  padding-right: 10px;
  padding-left: 0px;
}
@media screen and (max-width: 768px) {
  #page-body .page-tabs li a {
    margin-left: 0px;
    text-align: right;
  }
  #page-body .page-tabs .current-tab:after {
    left: 15px;
    right: auto;
  }
}

#article-list article img {
  position: relative;
  top: 50%;
  right: 50%;
  left: auto;
  transform: translate(50%, -50%);
}
#article-list article .overlay {
  position: absolute;
  top: 50%;
  right: 50%;
  left: auto;
  transform: translate(50%, -50%);
}
#article-list article .category {
  margin-left: 25px;
  margin-right: 0px;
}

#occasion-body .schedule .month {
  border-left: 1px solid #FFF;
  border-right: 0px none;
}
#occasion-body .schedule .month:last-child {
  border-left: 0px none;
}
#occasion-body .schedule h3 {
  float: right;
  margin-left: 30px;
  margin-right: 0px;
}
#occasion-body .dropdown-menu {
  float: right;
}
#occasion-body .dropdown-menu .placeholder-container {
  padding-right: 0px;
}
#occasion-body .relevant-items .item {
  padding-right: 0px;
  padding-left: 25px;
  float: right;
}
@media screen and (max-width: 768px) {
  #occasion-body .relevant-items .item {
    padding-left: 0px;
  }
}
@media screen and (max-width: 640px) {
  #occasion-body .schedule h3 {
    margin-left: 0px;
  }
}

#event-article-body {
  direction: ltr;
  /*.category {
    margin-right: 0px;
    margin-left: 25px;
  }*/
}
#event-article-body .left-column > ul li {
  padding-right: 0px;
  padding-left: 22px;
}
#event-article-body .left-column > ul li:before {
  right: auto;
  left: 0px;
  padding-right: 10px;
  padding-left: 0px;
}

#team-slider {
  padding-left: 30px;
  padding-right: 40px;
}
#team-slider .thumbs {
  float: right;
  margin-left: 100px;
  margin-right: 0px;
}
#team-slider .thumb {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
#team-slider p {
  text-align: right;
}
#team-slider .social-handles a {
  margin-right: 0px;
  margin-left: 10px;
}
@media screen and (max-width: 1400px) {
  #team-slider .thumbs {
    margin-right: 0px;
    margin-left: 50px;
  }
  #team-slider .thumb {
    margin-right: 0px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1200px) {
  #team-slider .thumbs {
    margin-left: 0px;
  }
}
@media screen and (max-width: 640px) {
  #team-slider .thumbs .thumb {
    margin-left: 0px;
  }
}

#clients-grid .client {
  float: right;
}
#clients-grid .client a {
  right: 0px;
  left: auto;
}
#clients-grid .client a img {
  position: relative;
  top: 50%;
  right: 50%;
  left: auto;
  transform: translate(50%, -50%);
}

#calendar .name {
  float: right;
  border-left: 1px solid #FFF;
  border-right: 0px none;
}
#calendar .name a {
  padding-left: 15px;
  padding-right: 30px;
}
#calendar .month {
  float: right;
  border-left: 1px solid #FFF;
  border-right: 0px none;
}
#calendar .month:last-child {
  border-left: 0px none;
}
#calendar .row .name {
  text-align: right;
}
#calendar .row .name .close {
  right: 0px;
  left: auto;
}
#calendar .expand .logo {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
}
#calendar .expand .button {
  float: right;
}
#calendar .expand .flyer {
  float: left;
}
#calendar .expand .flyer.pdf {
  padding-left: 0px;
  padding-right: 50px;
}
#calendar .expand .flyer.pdf .sprite-icon {
  left: auto;
  right: 0px;
}
@media screen and (max-width: 1220px) {
  #calendar .name {
    border-left: 0px none;
  }
}

#careers-body .left-column {
  padding-left: 60px;
  padding-right: 0px;
}
#careers-body .right-column {
  margin-right: 0px;
}
#careers-body #side-menu {
  direction: ltr;
}

#careers-slider .overview-content {
  float: right;
}
#careers-slider .jobs {
  direction: ltr;
  padding-left: 595px;
  padding-right: 0px;
  float: left;
}
#careers-slider .right-column .close {
  left: auto;
  right: -57px;
}
#careers-slider.showing-job .right-column {
  margin-right: 30px;
  margin-left: 0px;
}
@media screen and (max-width: 1024px) {
  #careers-slider .left-column {
    padding-right: 0px;
    padding-left: 30px;
  }
  #careers-slider .right-column .close {
    left: auto;
    right: -39px;
  }
  #careers-slider .jobs {
    padding-left: 505px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 960px) {
  #careers-slider .right-column .close {
    right: 0px;
    left: auto;
  }
  #careers-slider .left-column {
    padding-left: 0px;
  }
  #careers-slider #side-menu h4 {
    text-align: right;
  }
  #careers-slider.showing-job #side-menu {
    padding-left: 0px;
    padding-right: 40px;
  }
}

#contact-form label {
  text-align: right;
}
#contact-form .field {
  text-align: right;
}
#contact-form .hs-error-msgs {
  display: none !important;
}

#booking-body .logo {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
}
#booking-body .details .button {
  float: right;
}
#booking-body .flyer {
  float: left;
}
#booking-body .flyer.pdf {
  padding-left: 0px;
  padding-right: 50px;
}
#booking-body .flyer.pdf .sprite-icon {
  left: auto;
  right: 0px;
}

#booking-form .cost {
  text-align: left;
}
#booking-form h4 {
  padding-right: 0px;
  padding-right: 30px;
}
#booking-form .form-group {
  float: right;
}
#booking-form .form-group.right {
  float: left;
}
#booking-form #sponsor-details {
  float: right;
}