
$font-family-sans-serif : 'Lato', sans-serif;

/* START: Import Libraries */

@import "../libs/slick";
@import "../libs/slick-theme";

/* END: Import Libraries */

* {
  letter-spacing: 0 !important;
}


select {
    background-position: top 34px left 16px;
}

.tabs {
    li {
        float:right;
        border-right: 1px solid #a9a7a8;
        border-left: 0px none;
        &:first-child {
           border-right: 0px;
        }
    }
}

.youtube-video {
    .play {
        &:after {
            //border-left: 25px solid #FFF;
        }
    }
}


.radio-button {
    label {
        padding-right: 50px;
        padding-left: 15px;
    }

    .check{

        left: auto;
        right: 10px;

      &:before {
        //left: 2px;
      }
    }
}

.check-box {

  label {
    padding-right: 50px;
    padding-left: 15px;
  }

  .check{
    left: auto;
    right: 10px;

    &:before {
      //left: 8px;
      /*margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
      transform: rotate(45deg);*/
    }
  }
}


.select-box {


  &:after {
    right: auto;
    left: 20px;
  }
}

.read-more-box {
  .read-more {
    //bottom: 0; left: 0;
  }
}


@media screen and (max-width: 640px){




  .select-box {

    &:after {
      left: 10px;
      right: auto;
    }
  }

  .check-box {
    label {
      //padding: 10px 10px 10px 42px;
    }

    .check {
      //top: 12px;
    }
  }
}







