
.text-left           { text-align: right; }
.text-right          { text-align: left; }


// Transformation


.pull-right {
  float: left;
}
.pull-left {
  float: right;
}


/* START: Media */

.media-right,
.media > .pull-right {
  padding-left: 0px;
  padding-right: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 0px;
  padding-left: 10px;
}


// Media list variation
//
// Undo default ul/ol styles
.media-list {
  //padding-left: 0;
  padding-right: 0;
  list-style: none;
}

/* END: Media */


/* START: Table */

.table-column {
  padding-right  : 0px;
  padding-left: 10px;
}

/* END: Table */
