@mixin rtl-horizontal-middle-align($position: relative) {
  position: $position;
  right: 50%;
  left: auto;
  transform: translateX(50%);
}

@mixin rtl-middle-align($position: relative) {
  position: $position;
  top: 50%;
  right: 50%;
  left: auto;
  transform: translate(50%, -50%);
}

@mixin rtl-reset-middle-align($vertical, $horizontal) {
  @if ($vertical == true And $horizontal == true) {
    top: auto;
    right: auto;
    transform: translate(0, 0);
  } @else if $vertical == true {
    top: auto;
    transform: translate(0, -50%);
  } @else if $horizontal == false {
    right: auto;
    transform: translate(-50%, 0);
  } @else {}
}
