#newsletter-signup {
    .header-row {
        .title {
            float : right;
        }
        
        a.why-signup {
            float : left;
        }
    }
    
    fieldset {
        &.form-columns-2 {
            .input {
                margin-right :0px;
                margin-left :0px;
            }
        }
    }
    
    select {
        background-position: top 20px left 16px;
    }
    
    .signup-benefits {
        .nl_video {
            float: right;
            padding-left: 40px;
            padding-right :0px;
        }
        
        ol {
            width: 50%;
            float: left;
            padding-left: 0px;
            padding-right :40px;
        }
    }
    
    @media screen and (max-width: 960px){
        
        .signup-benefits {
            
            ol {
                float: none;
            }
            
            .nl_video {
                float: none;
            }
        }
    }
    
    @media (max-width: 560px) {
        .header-row {
            .title {
                float : none;
            }
            
            a.why-signup {
                float : none;
            }
        }
    }
}