/* START: Header */



.dropdown-menu {
  .placeholder-container {
    padding-left: 0px;
    padding-right: 30px;
  }

  .arrow {
    float: right;
  }

  .placeholder {
    float: right;

    &:after {
      margin-left: 0px;
      margin-right: 10px;
    }
  }

  .options {
    text-align: right;
  }
}


#hamburger {

}

nav {



  &.main-nav {

    margin-right: 0px;
    margin-left: 58px;


    ul {
      float: left;
    }

    li {


      @media screen and (max-width: 1024px)
      {

      }

      &.active {
        a {
        }
      }
    }

    a {


    }

    .language-switch {
      margin-right: 0px;
      margin-left: 50px;
    }

  }

  @media screen and (max-width: 960px){
    &.main-nav {
      margin-left: 0px;
      margin-right: 0px;

      ul {
        width: 100%;
      }

      .language-switch {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
}

#search {
  left: 40px;
  right: auto;
}

#search-trigger {
  border-right: 1px solid #ededed;
  border-left: 0px none;
}

#search-form {
  right: auto;
  left: -1000px;
  input[type=text] {
    float: right;
  }

  input[type=submit] {
    float: right;
  }

  &.show {
    right: auto;
    left: 0px;
  }

}

#search-result {
  float: right;
}

@media screen and (max-width: 1024px) {
  #search {
    right: auto;
    left: 20px;
  }
}

@media screen and (max-width: 960px) {
  #search-form {
    left: 0px;
    right: auto;

    input[type=submit] {
      right: auto;
      left: 0px;
    }
  }
}

@media screen and (max-width: 640px){
  #search {
    left: 15px;
    right: auto;
  }
}

/* END: Header */

/* START: Footer */

footer {
  nav {
    float: right;
    a {
      &:first-of-type {
        padding-right: 0px;
      }
    }
  }

  .copyrights {
    float: left;
    text-align: left;
  }

  @media screen and (max-width: 640px){

    .copyrights {
      text-align: right;
    }
  }
}

/* END: Footer */

.main-container {


  .right-column {
    float: left;
    margin-left: 0px;
    margin-right: $page-horizontal-padding;
  }

  .left-column {

    > ul {

      li {
        padding-right: 22px;
        padding-left: 0px;
      }

      li:before {
        right: 0px;
        left: auto;
        padding-right: 0px;
        padding-left: 10px;
      }
    }

    .left {
      text-align: right;
    }

    .right {
      text-align: left;
    }

    img.left {
      float: right;
      margin-right: 0px;
      margin-left: 15px;
    }

    img.right {
      float: left;
      margin-right: 15px;
      margin-left: 0px;
    }
  }

  .content-container {

    > ul {
      text-align: right;

      li {
        padding-right: 22px;
        padding-left: 0px;
      }

      li:before {
        left: auto;
        right: 0px;
        padding-left: 10px;
        padding-right: 0px;
      }
    }

    > ol {
      text-align: right;
    }
  }


  @media screen and (max-width: 960px) {
    .right-column{
      width: 100%;
      margin-right: 0px;
    }
  }

}

#hero-wrapper {

  .cta {
    left: auto;
    right: $page-horizontal-padding;
  }

  @media screen and (max-width:640px){
    .cta {
      left: auto;
      right: 50px;
    }
  }

  @media screen and (max-width:400px){
    .cta {
      right: 20px;
      left: auto;
    }
  }
}

#upcoming-occasion-tabs {
  left: auto;
  right: 0px;

  .tabs {
    li {
      border-left: 0px none;
      border-right: 1px solid #a9a7a8;

      &:first-child {
        border-right: 0px;
      }
    }
  }

  .occasion {

    .name, .date {
      float: right;
      width: 50%;
    }

    .date {
      text-align: left;
    }
  }

  @media screen and (max-width: 640px){
    .tabs {
      li {
        border-right: 0px none;
      }
    }
  }
}

#latest-news {
  //direction: ltr;

  h4 {
    float: right;
  }

  a.news {
    width: 100%;
  }

  a.all {
    float: left;
  }
}

#logo-slider {



  @media screen and (max-width: 960px) {

    .slick-next {
      left: -70px;
      right: auto;
    }

    .slick-prev {
      right: -70px;
      left: auto;
    }
  }
}

@import "newsletterWidget";

#our-locations {

  h4 {
    float: right;
    margin-right: 0px;
    margin-left: 50px;
  }


  @media screen and (max-width: 1000px){


    h4 {
      margin-left: 0px;
    }

    .locations {
      ul{
        li {
          float: right;
          width: 33%;
        }
      }
    }
  }

}

#social {
  direction: ltr;

  #facebook {
    .media-left {
      padding-right: 10px;
      padding-left: 0px;
    }
  }
}


#breadcrumb {
  left: auto;
  right: 0px;

  li {
    float: right;
    margin-left: 2px;
    margin-right: 0px;
  }
}

#page-header {
  #side-menu {
    left: $page-horizontal-padding;
    right: auto;
  }
}

#banner {

  > img {
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
  }

  .blur-bg-title {
    padding-left: 0px;
    padding-right: 60px;

    .bg {
      left: auto;
      right: 0px;
    }
  }

  .occasion-title {

    .bg {
      right: (-1 * $page-horizontal-padding);
      left: auto;
    }

    .logo {
      margin-left: 30px;
      margin-right: 0px;
    }

    .title {
      padding-left: 20px;
      padding-right: 30px;
    }

    .button {
      padding-right: 0px;
      padding-left: 30px;
      text-align: left;
    }
  }

  .cta-banners {
    right: auto;
    left: $page-horizontal-padding;

    .cta {
      margin-right: 0px;
      margin-left: 25px;
      border-left: 0px none;
    }
  }


  @media screen and (max-width: 960px){

    .blur-bg-title {
      padding-right: 20px;
      padding-left: 0px;
    }

  }

  @media screen and (max-width: 960px){

    img {
      @include rtl-horizontal-middle-align();
    }

    .occasion-title {
      > .logo {
        margin-left: 0px;
        margin-right: 20px;
      }
    }
  }

  @media screen and (max-width: 640px){

    .blur-bg-title {
      padding-left: 0px;
      padding-right: 15px;
    }

    .occasion-title {
      .logo {
        margin-right: 0px;
        @include rtl-horizontal-middle-align(absolute);
      }
    }
  }

}


#share {
  right: auto;
  left: 0px;
}

#team-dropdown {
  left: auto;
  right: 0px;

  .back {
    border-left: 1px solid #FFF;
    border-right: 0px none;
    float: right;
    padding-right: 10px;
    padding-left: 0px;

    .sprite-icon {
      transform: rotate(180deg);
    }
  }

  .dropdown {
    float: right;

    a {
      padding-right: 20px;
      padding-left: 0px;
    }

    > a {

      .sprite-icon {
        right: auto;
        left: 10px;
      }
    }

    ul {
      right: -9999px;
      left: auto;
    }
/*---------------------------------------------------------------------------------------------------*/

    &:hover {
      ul {
        right: 0px;
        left: auto;
      }
    }
  }

  @media screen and (max-width: 400px){
    .back {
      padding-right: 0px;
    }
  }
}

.pagination {

  .prev, .next {
    float: right;
  }

  .next {
    float: left;
  }

  ul {
    float: right;
  }

  li {
    float: right;
  }
  &.page-1 {
    ul {
      float: right;
      @include rtl-reset-middle-align(true, true);
    }
  }

  &.page-last {
    ul {
      float: left;
    }
  }

}


.cta-banners {


  .cta {

    float: right;
    border-right: 0px none;
    border-left: 1px solid #d3d3d3;

    img {
      @include rtl-middle-align();
    }

    &:last-child {
      border-left: 1px solid #d3d3d3;
      border-right: 0px none;
    }

  }


  @media screen and (max-width: 640px){

    .cta {
      border-left: 0px none;
    }
  }

}

#page-body {

  .tabs-wrapper {

    margin-left: 0px;
    margin-right: 10px;

    .tabs {
      li {
        border-right: 1px solid #e8e6e7;
        border-left: 0px none;

        &:first-child {
          border-right: 0px;
        }
      }
    }

    .tabgroup {
      a {
        text-align: right;

        &.pdf {
          padding-left: 0px;
          padding-right: 50px;

          .sprite-icon {
            right: 0px;
            left: auto;
          }
        }
      }
    }
  }

  .page-tabs {
      li {
        float: none;
        width: auto !important;
        border-bottom: 1px solid #CCC;
        border-right: 0px none;

        a{
          padding: 10px 15px;
          margin-left: 0px;
          text-align: right;
        }

        &.active {
          display: none;
        }
      }

      .current-tab {
        display: block;
        position: relative;
        text-align: right;

        &:after {
          display: block;
          content : ' ';
          width: 25px;
          height: 25px;
          background-image: url(../images/arrow-white.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          right: auto;
          left: 15px;
          top: 17px;
          transform: rotate(-90deg);
        }
      }

      ul.tabs {
        max-height: 0px;
        overflow: hidden;
        transition: all 100ms ease-in-out;
      }

      &.hover {
        ul.tabs {
          max-height: 300px;
        }
      }
    }

  &.article-body {
    //direction: ltr;

    .left-column {
      > ul {
        li{
          padding-right: 0px;
          padding-left: 22px;

          &:before {
            right: auto;
            left: 0px;
            padding-right: 10px;
            padding-left: 0px;
          }
        }
      }
    }

  }

  @media screen and (max-width: 768px){
    .page-tabs {
      li {
        a{
          margin-left: 0px;
          text-align: right;
        }
      }

      .current-tab {
        &:after {
          left: 15px;
          right: auto;
        }
      }
    }
  }

}

#article-list {
  article {

    img {
      @include rtl-middle-align();
    }

    .overlay {
      @include rtl-middle-align(absolute);
    }

    h2 {
      //direction: ltr;
    }

    .category {
      margin-left: 25px;
      margin-right: 0px;
    }
  }

}



#occasion-body {

  .schedule {
    .month {
      border-left: 1px solid #FFF;
      border-right: 0px none;

      &:last-child {
        border-left: 0px none;
      }

    }

    h3 {
      float: right;
      margin-left: 30px;
      margin-right: 0px;
    }
  }

  .dropdown-menu {
    float: right;

    .placeholder-container {
      padding-right: 0px;
    }
  }

  .relevant-items {
    .item {
      padding-right: 0px;
      padding-left: 25px;
      float: right;
    }
  }

  @media screen and (max-width: 768px){
    .relevant-items {
      .item {
        padding-left: 0px;
      }
    }
  }

  @media screen and (max-width: 640px){
    .schedule {
      h3 {
        margin-left: 0px;
      }
    }
  }
}

#event-article-body {

  direction: ltr;

  /*.category {
    margin-right: 0px;
    margin-left: 25px;
  }*/

  .left-column {
    > ul {
      li{
        padding-right: 0px;
        padding-left: 22px;

        &:before {
          right: auto;
          left: 0px;
          padding-right: 10px;
          padding-left: 0px;
        }
      }
    }
  }

}


#team-slider {
  padding-left: 30px;
  padding-right: 40px;

  .thumbs {
    float: right;
    margin-left: 100px;
    margin-right: 0px;
  }

  .thumb {
    float: right;
    margin-right: 0px;
    margin-left: 20px;
  }

  p {
    text-align: right;
  }

  .social-handles {
    a {
      margin-right: 0px;
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 1400px){
    .thumbs {
      margin-right: 0px;
      margin-left: 50px;
    }

    .thumb {
      margin-right: 0px;
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 1200px){
    .thumbs {
      margin-left: 0px;
    }
  }


  @media screen and (max-width: 640px){
    .thumbs {
      .thumb {
        margin-left: 0px;
      }
    }
  }

}



#clients-grid {
  .client {
    float: right;

    a {
      right: 0px;
      left: auto;
      img {
        @include rtl-middle-align();
      }
    }
  }

}

#knowledge-center {
  .cta-banners {
    h3 {
      //direction: ltr;
    }
  }
}

#calendar {
  .name {
    float: right;
    border-left: 1px solid #FFF;
    border-right: 0px none;

    a {
      padding-left: 15px;
      padding-right: 30px;
    }
  }



  .month {
    float: right;
    border-left: 1px solid #FFF;
    border-right: 0px none;

    &:last-child {
      border-left: 0px none;
    }
  }

  .row {
    .name {
      text-align: right;

      .close {
        right: 0px;
        left: auto;
      }
    }
  }

  .expand {
    .logo {
      float: right;
      margin-right: 0px;
      margin-left: 30px;
    }

    .button {
      float: right;
    }

    .flyer {
      float: left;

      &.pdf {
        padding-left: 0px;
        padding-right: 50px;

        .sprite-icon {
          left: auto;
          right: 0px;
        }
      }
    }
  }

  @media screen and (max-width: 1220px){
    .name {
      border-left: 0px none;
    }
  }

}

#careers-body {

  .left-column {
    padding-left: $page-horizontal-padding;
    padding-right: 0px;
  }

  .right-column {
    margin-right: 0px;
  }


  #side-menu {
    direction: ltr;
  }

}

#careers-slider {

  .overview-content {
    float: right;
  }

  .jobs {
    direction: ltr;
    padding-left: (385px + 30px + ($page-horizontal-padding*3));
    padding-right: 0px;
    float: left;
  }

  .right-column {
    .close {
      left: auto;
      right: -57px;
    }
  }

  &.showing-job {
    .right-column {
      margin-right: 30px;
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 1024px){

    .left-column {
      padding-right: 0px;
      padding-left: 30px;
    }

    .right-column {
      .close {
        left: auto;
        right: -39px;
      }
    }

    .jobs {
      padding-left: (385px + 30px + (30px*3));
      padding-right: 0px;
    }

  }

  @media screen and (max-width: 960px){
    .right-column {
      .close {
        right: 0px;
        left: auto;
      }
    }

    .left-column {
      padding-left: 0px;
    }

    #side-menu {
      h4 {
        text-align: right;
      }
    }

    &.showing-job {
      #side-menu {
        padding-left: 0px;
        padding-right: 40px;
      }
    }
  }
}

#contact-form {
  label {
    text-align : right;
  }
  
  .field {
    text-align : right;
  }
  
  .hs-error-msgs
  {
    display : none !important;
  }
}

#booking-body {
  .logo {
    float: right;
    margin-right: 0px;
    margin-left: 30px;
  }

  .details {
    .button {
      float: right;
    }
  }

  .flyer {
    float: left;


    &.pdf {
      padding-left: 0px;
      padding-right: 50px;

      .sprite-icon {
        left: auto;
        right: 0px;
      }
    }
  }

}

#booking-form {
  .cost {
    text-align: left;
  }

  h4 {
    padding-right: 0px;
    padding-right: 30px;
  }

  .form-group {
    float: right;

    &.right {
      float: left;
    }
  }

  #sponsor-details {
    float: right;
  }
}


