
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,100,100i,300,300i,900,900i,700,700i&display=swap');

$font-family-sans-serif : 'Lato', sans-serif;

/* START: Import Libraries */

@import "../libs/slick";
@import "../libs/slick-theme";

/* END: Import Libraries */


* {
    outline: none;
    box-sizing: border-box;
}

html {
    position: relative;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    -webkit-font-smoothing: antialiased;
    font: normal 300 #{$font-size-base}/1.4 "Lato", Arial, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    outline: none;
    color: #9E0442;

    &:hover, &:focus {
        outline: none;
    }

    &:hover {
        transition: all 300ms ease-out;
        opacity: 0.6;
    }

    .touch & {
      &:hover {
        opacity: 1;
      }
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a.button {
  width: auto;
  background-color: #9E0442;
  border-radius: 2px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  padding: 18px 50px;
  color: #FFFFFF;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
  color: white;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
}

.sprite-icon {
    background: url("../images/sprite.png");
    background-size: $sprite-image-size;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: 999px;
    overflow: hidden;
}




/*.search-icon {
    background-position: 12px 7px;
}*/

.tabs {
    li {
        float:left;
        border-left: 1px solid #a9a7a8;
        &:first-child {
           border-left: 0px;
        }
    }
    a {
        display:block;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        color:#888;
        padding:20px 10px;


        &:hover, &.active {
            background:#ddd;
        }
    }
}

.youtube-video {
    position: relative;
    .video {
        /*visibility: hidden;
        opacity: 0;*/
        transition: all 100ms ease-in;
    }
    .overlay {
        position: absolute;
        /*height: 100%;*/
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }
    &.video-playing {
        .video {
            /*visibility: visible;
            opacity: 1;*/
        }
        .overlay {
            &:hover {
                .pause {
                    display: block;
                }
            }
        }
    }

    /*&.video-paused {
        .play {
            display: block;
        }
    }*/

    &.video-playing {
        .play {
            display: none;
        }
    }

    .play, .pause {
        direction: ltr;
        background: #9E0442;
        border-radius : 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
        transition: all 300ms ease-out;
        &:hover {
            opacity: 1;
            background: #FFF;
            &:after, &:before {
                border-left-color: #9E0442;
            }
        }
    }

    .play {
        &:after {
            border-left: 25px solid #FFF;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            content: '';
            width: 0px;
            height: 0px;
            display: block;
            margin: 30px 40px;
        }
    }

    .pause {
        display: none;
        &:after, &:before {
            content: '';
            width: 0px;
            height: 30px;
            display: inline-block;
            border-left: 10px solid #FFF;
        }

        &:before {
            margin: 35px 0px 0px 38px;
        }
        &:after {
            margin: 35px 0px 0px 5px;
        }
    }
}

.form-group {
  padding-left:10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 100%;

    &.half {
        width: 50%;
    }
}

.error {
  border: 1px solid #eb0000;
}

textarea, input {
  font-family: $font-family-sans-serif;
}

input[type=text], input[type=email], input[type=tel], textarea {
    /*font-family: "Lato", Arial, sans-serif;*/
    border-radius: 2px;
    background-color: #fbfbfb;
    border: solid 1px #c1c1c1;
    font-size: 20px;
    font-weight: 400;
    color: #4c4c4c;
    padding: 25px 30px;
    margin-bottom: 10px;
    width: 100%;

    &::-webkit-input-placeholder {
        color: #4c4c4c;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: #4c4c4c;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: #4c4c4c;
    }

    &:-ms-input-placeholder {
        color: #4c4c4c;
    }

    &.error {
      border: 1px solid #eb0000;
    }
}

select {
    border-radius: 2px;
    background-color: #fbfbfb;
    border: solid 1px #c1c1c1;
    font-size: 20px;
    font-weight: 400;
    color: #4c4c4c;
    padding: 25px 30px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-appearance: none;
    
    background-image: url('../images/arrow-grey.svg');
    background-repeat: no-repeat;
    background-position: top 34px right 16px;
    background-size: 20px;
}

.radio-button {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;

    input[type=radio]{
        position: absolute;
        visibility: hidden;
    }

    label {
        display: inline-block;
        position: relative;
        font-weight: 400;
        color: #757575;
        font-size: 20px;
        padding: 22px 15px 22px 50px;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
    }

    .check{
        display: block;
        position: absolute;
        border: 3px solid #AAAAAA;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        top: 26px;
        left: 10px;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;

      &:before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 15px;
        width: 15px;
        top: 2px;
        left: 2px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
      }
    }

    input[type=radio]:checked ~ .check {
      border: 3px solid #4c4c4c;
    }

    input[type=radio]:checked ~ .check::before{
      background: #4c4c4c;
    }

    input[type=radio]:checked ~ label{
      color: #4c4c4c;
    }

    &:hover
    {
        label{
            color: #4c4c4c;
        }
        .check {
            border: 3px solid #4c4c4c;
        }
    }

}

.check-box {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;

  input[type=checkbox]{
    position: absolute;
    visibility: hidden;
  }

  label {
    display: inline-block;
    position: relative;
    font-weight: 400;
    color: #757575;
    font-size: 20px;
    padding: 22px 15px 22px 50px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }

  .check{
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    height: 25px;
    border-radius: 4px;
    width: 25px;
    top: 26px;
    left: 10px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;

    &:before {
      display: block;
      position: absolute;
      content: '';
      height: 25px;
      width: 10px;
      top: -13px;
      left: 8px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
      transform: rotate(45deg);
    }
  }

  input[type=checkbox]:checked ~ .check {
    border: 3px solid #4c4c4c;
  }

  input[type=checkbox]:checked ~ .check::before{
    border-color: #4c4c4c;

  }

  input[type=checkbox]:checked ~ label{
    color: #4c4c4c;
  }

  &:hover
  {
    label{
      color: #4c4c4c;
    }
    .check {
      border: 3px solid #4c4c4c;
    }
  }

  &.error {
    border: 1px solid #eb0000;
  }

}


.select-box {
  height: 76px;
  position: relative;
  border-radius: 2px;
  background-color: #fbfbfb;
  border: solid 1px #c1c1c1;
  margin-bottom: 10px;
  width: 100%;

  &:after {
    width: 0px;
    display: block;
    height: 0px;
    border-top: 12px #4c4c4c solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content : '';
    position: absolute;
    right: 20px;
    top: 35px;
    pointer-events: none;
  }


  .placeholder {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #4c4c4c;
    padding: 23px 30px;
    pointer-events: none;
  }

  select {
    opacity: 0;
    width: 100%;
    height: 100%;
    height: 74px;
    line-height: 74px;
    -webkit-appearance: none;
  }

  &.error {
    border: 1px solid #eb0000;
  }
}

.read-more-box {
  max-height: 250px;
  position: relative;
  overflow: hidden;
  transition: max-height 200ms ease-out;

  .read-more {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-image: -moz-linear-gradient(top, transparent, white);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


    transition: all 150ms linear;
    visibility: visible;
    opacity: 1;
  }

  &.expanded {
    .read-more {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.alert {
  margin: $widget-vertical-padding 0;

  &.alert-danger {
    color: #f21723;
    font-weight: 900;
  }
}



@media screen and (max-width: 640px){
  input[type=text], input[type=email], input[type=tel], textarea {
    padding: 10px;
    font-size: 18px;
  }

  .form-group {
    &.half {
      width: 100%;
    }
  }

  .select-box {
    height: 44px;

    .placeholder {
      padding: 10px;
      font-size: 18px;
      line-height: 1.3;
    }

    select {
      height: 44px;
      line-height: 44px;
    }

    &:after {
      right: 10px;
      top: 16px;
    }
  }

  .radio-button {
    label {
      padding: 10px 10px 10px 42px;
      font-size: 18px;
    }

    .check {
      top: 11px;
    }
  }

  .check-box {
    label {
      padding: 10px 10px 10px 42px;
      font-size: 18px;
    }

    .check {
      top: 12px;
    }
  }
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .sprite-icon {
    background-image: url("../images/sprite@2x.png");
  }

}



