
@mixin col($col, $max-cols: 12, $float: left) {
  width : (100%/$max-cols)*$col;
  @if $float != none
  {
    float : $float;
  }
}

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}


@mixin vertical-middle-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontal-middle-align($position: relative) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

@mixin middle-align($position: relative) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin reset-middle-align($vertical, $horizontal) {
  @if ($vertical == true And $horizontal == true) {
  top: auto;
  left: auto;
  transform: translate(0, 0);
} @else if $vertical == true {
  top: auto;
  transform: translate(0, -50%);
} @else if $horizontal == false {
  left: auto;
  transform: translate(-50%, 0);
} @else {}
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}


// Extendable

%vertical-middle-align {
  @include vertical-middle-align();
}

%horizontal-middle-align {
  @include horizontal-middle-align();
}

%middle-align {
  @include middle-align();
}


/*
// Mixins
@mixin border-box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transform($transforms...) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  transform: $transforms;
}

@mixin translate-y($translate-y) {
  @include transform(translateY($translate-y));
}

@mixin translate-x($translate-x) {
  @include transform(translateX($translate-x));
}

@mixin text-gradient($direction, $color-stops...) {

  @if $direction == "none" {
    background: none;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;
  } @else {
    background: -webkit-linear-gradient($direction, $color-stops);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin radial-gradient($gradients...) {
  -webkit-background-image: radial-gradient($gradients);
  -moz-background-image: radial-gradient($gradients);
  -o-background-image: radial-gradient($gradients);
  background-image: radial-gradient($gradients);
}

@mixin linear-gradient($gradients...) {
  -webkit-background: linear-gradient($gradients);
  -moz-background: linear-gradient($gradients);
  -o-background: linear-gradient($gradients);
  background: linear-gradient($gradients);
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  transition: $transitions;
}



@mixin box-shadow($shadow-val) {
  box-shadow: $shadow-val;
}

// Extendable Classes
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}



%default-box-shadow {
  @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}

*/
