#newsletter-signup {
    padding: 40px;
    background-color: #E1EEF9;
    margin: 40px auto 60px;
    
    .inner-wrapper {
        max-width: 1400px;
        margin: 0px auto;
    }
    
    .signup-benefits {
        display : block;
    }
    
    .header-row {
        margin-bottom :30px;
        
        .title {
            float : left;
            color: #9E0442;
            font-size: 22px;
            font-weight: 700;
            line-height: 27px;
            display: block;
            border: 0;
            background: none;
            cursor: pointer;
            margin: 5px 0 0;
            padding: 0;
        }
        
        a.why-signup {
            float : right;
            color: #999;
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 3px;
            border-bottom: 1px solid #dcdcdc;
            
            span:last-child {
                display: none;
            }
            
        }
    }
    
    fieldset {
        max-width :none;
        
        .hs-form-field {
            padding: 0px 29px;
        }
        
        &.form-columns-2 {
            margin :0px -29px 10px;
            
            .input {
                margin-right :0px;
            }
        }
    }
    
    input[type=text], input[type=email], select {
        border-radius: 4px;
        box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.08);
        border: 0px none;
        background-color: #ffffff;
        font-size: 18px;
        color: #9E0442;
        height :50px;
        padding: 10px 15px;
        width: 100%;
        
        &::-webkit-input-placeholder {
            color: #6b6b6b;
        }
        
        &:-moz-placeholder { /* Firefox 18- */
            color: #6b6b6b;
        }
        
        &::-moz-placeholder { /* Firefox 19+ */
            color: #6b6b6b;
        }
        
        &:-ms-input-placeholder {
            color: #6b6b6b;
        }
    }
    
    select {
        background-image : url("../images/arrow-purple.svg");
        background-position: top 20px right 16px;
        background-repeat :no-repeat;
        -webkit-appearance: none;
        background-size: 20px;
    }
    
    .hs-error-msgs {
        margin-top :-10px;
    }
    
    label {
        font-size: 12px;
        font-weight: 500;
        color: #3e3e3f;
        text-transform : uppercase;
        
        &.hs-error-msg {
            text-transform : none;
            color : #9E0442;
            opacity :1;
            font-size : 14px;
        }
    }
    
    p{
        margin:30px 0px;
    }
    
    .legal-consent-container
    {
        font-size: 16px;
        color: #999999;
        margin-top :10px;
    }
    
    input[type=submit] {
        color: #FFF;
        background-color : #9E0442;
        width: 297px;
        height :60px;
        font-size: 18px;
        display: block;
        border: 0px none;
        cursor: pointer;
    }
    
    .signup-benefits {
        max-height: 0px;
        overflow: hidden;
        transition: all 300ms ease-in-out;
        
        
        .nl_video {
            width: 50%;
            float: left;
            padding-right: 40px;
            margin-bottom :40px;
        }
        
        ol {
            width: 50%;
            float: right;
            list-style: decimal;
            padding-left: 40px;
            padding-top: 40px;
            li {
                font-size: 20px;
                color: #9E0442;
                line-height: 2;
                font-weight: 500;
            }
        }
        
        p{
            font-size: 18px;
            color: #6b6b6b;
            font-weight :500;
            margin-bottom :10px;
            margin-top :0px;
        }
    }
    
    &.signup-benefits {
        .signup-benefits {
            margin-top: 30px;
            opacity: 1;
            max-height: 1000px;
        }
        
        a.why-signup {
            span {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: inline;
                }
            }
        }
    }
    
    @media screen and (max-width: 960px){
        
        .signup-benefits {
            
            ol {
                width: 100%;
                float: none;
                margin-bottom: 20px;
            }
            
            .nl_video {
                width: 100%;
                float: none;
                padding-right: 0px;
            }
        }
    }
    
    @media screen and (max-width: 640px){
        padding-left: 20px;
        padding-right: 20px;
        
        input[type=submit]
        {
            margin:0px auto;
        }
        
        
        fieldset
        {
            &.form-columns-2
            {
                margin-left :-5px;
                margin-right :-5px;
            }
            
            .hs-form-field
            {
                padding :0px 5px;
            }
        }
    }
    
    @media (max-width: 560px) {
        .header-row {
            .title {
                width: 100%;
                float : none;
                margin-bottom :20px;
            }
            
            a.why-signup {
                width :100%;
                float : none;
            }
        }
    }
    
    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
    {
    
        fieldset
        {
            &.form-columns-2 {
                margin-bottom :0px;
            }
    
            .hs-form-field {
                margin-bottom :20px;
            }
        }
        
        input[type=text], input[type=email], select
        {
            width :100%;
        }
    }
}