/* START: Header */

.header-container {
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
  padding: 25px $widget-horizontal-padding;
  position: relative;

  @media screen and (max-width: 1024px)
  {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: 640px)
  {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  a {
    color: #000;
  }

}

.dropdown-menu {
  position: relative;

  .placeholder-container {
    @extend .cf;
    padding-left: 30px;
  }

  .arrow {
    width: 15px;
    height: 34px;
    position: relative;
    float: left;

    .stroke {
      stroke: #002A4E;
    }
  }

  .placeholder {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    float: left;
    position: relative;

    &:after {
      border-top: 10px solid #002A4E;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: '';
      display: inline-block;
      width: 0px;
      height: 0px;
      z-index: 1;
      margin-left: 10px;
      position: relative;
      top: 1px;
    }
  }

  .options {
    padding: 10px;
    background: #9E0442;
    position: absolute;
    display: none;
    z-index: 9;
    width: 100%;
    text-align: left;

    li {
      padding-bottom: 5px;
      /*border-bottom: 1px solid rgba(255,255,255, 0.4);*/
      padding-top: 2px;

      &:first-child {
        padding-top: 0px;
      }

      &:last-child {
        border-bottom: 0px none;
        padding-bottom: 0px;
      }

      &.active {
        display: none;
      }

      a {
        color: #FFF !important;
      }
    }


  }
  
  &.open {
    .options {
      display: block;
    }
  }
  
  &.year-1 {
    .placeholder {
      &:after {
        display: none;
      }
      
    }
    &.open {
      .options {
        display: none;
      }
    }
  }

}

#logo {
  width: 175px;
  height: 60px;
  position: relative;
  z-index: 1;
  //margin-top: -20px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/logo-psi-middle-east.svg);
    background-repeat :no-repeat;
    background-size: 175px 60px;

    &:hover {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 1140px) {
    width: 160px;
    height: 60px;
    a {
      background-size: 160px 60px;
    }
  }

  @media screen and (max-width: 960px) {
    margin: 0px auto;
  }

  @media screen and (max-width: 640px) {
    width: 175px;
    height: 60px;

    a {
      background-size: 175px auto;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

#hamburger {
  display: none;
  width: 30px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 48px;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #333;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 20px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 4px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 22px;
        left: 4px;
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: 960px) {
    display: inline-block;
  }

  @media screen and (max-width: 640px) {
    top: 26px;
  }
}

nav {
  position: relative;


  ul {
    @extend .list-inline;
  }

  &.main-nav {
    overflow: hidden;
    margin-right: 58px;
    margin-top: -45px;

    ul {
      float: right;
    }

    li {
      padding: 7px 10px;

      @media screen and (max-width: 1024px)
      {
        padding: 7px 0px;
      }

      &.active {
        a {
          background-color: #002A4E;
          border-radius: 2px;
          color: white;
        }
      }
    }

    a {
      font-size: 14px;
      font-weight: 400;
      display: block;
      height: 34px;
      padding: 7px 15px 9px;
      /*&:hover {
        transition: all 150ms ease-out;
        opacity: 0.6;
      }*/
    }

    .language-switch {
      margin-right: 50px;

      li {
        padding: 0px;
      }

      a {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: lighten(#000, 60);
        padding: 15px 10px;
        height: 48px;
        line-height: 1.7;
      }

      li.active a {
        background: none;
        color: #000;
      }
    }

  }

  &.secondary-nav {
    margin-top: 20px;
    ul {
      //display: table;
      width: 100%;
      text-align: justify;
      font-size: 0px;

      li {
        //display: table-cell;
        //display: inline-block;
        //width: (100% / 4);
        &.active {
          a {
            background-color: #002A4E;
            border-radius: 2px;
            color: white;
            padding-right: 20px;
            padding-left: 20px;
          }
        }
      }
      &:after {
        content: " ";
        width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
        display: inline-block;
      }
    }

    a {
      font-size: 18px;
      text-align: center;
      display: block;
      font-weight: 700;
      padding: 7px 0px;
      letter-spacing: 1px;
    }
  }

  @media screen and (max-width: 960px){
    header & {
      max-height: 0px;
      overflow: hidden;
      transition: all 200ms ease-in-out;

      ul:not(.language-switch) {
        li {
          display: block;
        }
      }
    }

    &.main-nav {
      text-align: center;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;

      ul {
        float: none;

        li {
          margin: 0px;
        }
      }

      a {
        text-align: center;
        height: auto;
        color: lighten(#000, 40);
      }

      .language-switch {
        display: inline-block;
        margin: 0px auto;

        a {
          height: auto;
        }
      }
    }

    &.secondary-nav {
      margin-top: 0px;

      li {
        margin: 10px 0px;
      }
    }

    header.open-mobile-nav & {
      max-height: 1000px;

      &.secondary-nav {
        margin-top: 30px;
      }
    }
  }
}

#search {
  /*display: none;*/
  position: absolute;
  right: 40px;
  top: 38px;
  z-index: 9;

  &.show {
    #search-trigger {
      opacity: 0;
      visibility: hidden;
    }
  }
}

#search-trigger {
  width: 58px;
  padding: 0px;
  border-left: 1px solid #ededed;
  background-position: 12px 8px;
  height: 47px;
  padding: 15px 25px;
  transition: all 150ms ease-in-out;
  background: url("../images/search.svg") no-repeat;
  background-size: 25px;
  background-position: 15px;
  display: inline-block;
  overflow: hidden;
  text-indent: -200px;
}

#search-form {

  position: absolute;
  right: -1000px;
  /*right: 0px;*/
  opacity: 0;
  top: 0px; //-1000px;
  visibility: hidden;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  width: 600px;

  input[type=text] {
    font-size: 20px;
    border: 1px solid #ededed;
    height: 46px;
    float: left;
    background: #FFF;
    margin: 0px;
    padding: 0px 10px;
    width: 542px;
  }

  input[type=submit] {
    //border-left: 1px solid #ededed;
    border: 0px;
    float: left;
    width: 58px;
    height: 46px;
    cursor: pointer;
    background-color: #FFF;
    background: url("../images/search.svg") no-repeat;
    background-size: 25px;
    background-position: 15px 9px;
    display: inline-block;
    overflow: hidden;
    text-indent: -200px;

    &:hover {
      transition: opacity 150ms ease-out;
      opacity: 0.6;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
    top: 0px;
    right: 0px;
  }

}

#search-result {
  float: left;
  width: 542px;
  border: 1px solid #ededed;
  border-top: 0px;
  position: absolute;
  top: 46px;
  background: #FFF;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 150ms ease-in-out;
  overflow: hidden;

  .count {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
  }

  .list {
    padding: 5px 0px;

    li {
      padding: 5px 10px;

      &:hover {
        background: #ebebeb;
      }

      &.view-all, &.no-results {
        .type {
          display: none;
        }
      }

      &.no-results {
        &:hover {
          background: none;
        }
      }

      &.view-all {
        .title {
          font-weight: bold;
          color: #9E0442;
        }
      }
    }
    .title {
      font-size: 16px;
    }

    .type {
      font-size: 14px;
      color: #9E0442;
    }
  }

  &.show {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 960px) {
    position: relative;
    float: none;
    width: 100%;
    top: -10px;
  }
}

@media screen and (max-width: 1024px) {
  #search {
    right: 20px;
  }
}

@media screen and (max-width: 960px) {
  #search-form {
    position: relative;
    right: 0px;
    top: 0px;
    width: 100%;
    visibility: visible;
    opacity: 1;
    margin: 0px;
    max-height: 0px;
    overflow: hidden;

    input[type=text] {
      width: 100%;
    }

    input[type=submit] {
      position: absolute;
      right: 0px;
      background-color: transparent;
      background-position: 12px 8px;
      height: 40px;
      top: 3px;
    }

    &.show {
      margin: 30px 0px 10px;
      max-height: 80px;
    }
  }

  #search-trigger {
    border: 0px none;
  }
}

@media screen and (max-width: 640px){
  #search {
    top: 23px;
    right: 15px;
    width: 30px;
    height: 30px;
  }

  #search-trigger {
    width: 30px;
    height: 30px;
    padding: 0px;
    display: block;
    background-position: 4px;
    background-size: 20px;
  }
}

/* END: Header */

/* START: Footer */

.footer-container {
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 30px;

  nav {
    float: left;
    a {
      color: #3a4246;
      font-size: 14px;
      font-weight: 400;
      padding: 0px 30px;
      text-transform: uppercase;
      &:first-of-type {
        padding-left: 0px;
      }
    }
  }

  .copyrights {
    float: right;
    text-align: right;
    p {
      padding: 0;
      color: #ababab;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .developed-by {
    overflow: hidden;
    text-align: center;
    color: #ababab;
    font-size: 14px;

    > a {
      color: #979797;
    }
  }

  @media screen and (max-width: 640px){
    nav {
      float: none;
      margin-bottom: 15px;
    }

    .copyrights {
      float: none;
      text-align: left;
    }

    .developed-by {
      margin: 20px 0px 10px;
    }
  }
}

/* END: Footer */

.container {
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  //max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 55px;
  position: relative;
  color: #3e3e3f;
  font-size: 22px;
  line-height: 1.6;
  overflow: hidden;

  p {
    line-height: 1.8;
    margin: 30px 0px;
    &:first-of-type {
      margin-top: 0px;
    }
  }

  h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.4;
    color: #231f20;
  }

  h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #231f20;
  }

  h1.h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #231f20;
  }

  h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #231f20;
  }

  h4 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #231f20;
  }

  h1, h2, h3, h4 {
    + p {
      margin-top: 0px;
    }
  }

  .right-column {
    float: right;
    width: 385px;
    min-height: 300px;
    margin-left: $page-horizontal-padding;
  }

  .left-column {
    max-width: 1000px;
    overflow: hidden;
    > p:first-child {
      margin-top: 0px;
    }

    a {
      font-weight: 700;
      
      &.btn {
        font-size: 19px;
        color: white;
        font-weight: 400;
        box-shadow: 0 1px 0 #601038;
        padding: 15px 30px;
        display: inline-block;
        background-color: #9E0442;
        margin-bottom: 1px;
      }
    }

    strong {
      font-weight: 700;
    }

    > ul {
      margin: 40px 0px;

      li {
        padding-left: 22px;
        position: relative;
      }

      li:before {
        position: absolute;
        left: 0px;
        top: 0px;
        content: "• ";
        color: #9E0442;
        padding-right: 10px;
      }
    }

    > p + ul {
      margin-top: -10px;
    }

    > ol {
      margin: 40px 25px;
      list-style: decimal;
    }

    .center {
      text-align: center;
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }

    img.center {
      display: block;
      margin: 0px auto;
    }

    img.left {
      float: left;
      margin-right: 15px;
    }

    img.right {
      float: right;
      margin-left: 15px;
    }
  }

  .content-container {

    > ul {
      margin: 40px 0px;
      text-align: left;

      li {
        padding-left: 22px;
        position: relative;
      }

      li:before {
        position: absolute;
        left: 0px;
        top: 0px;
        content: "• ";
        color: #9E0442;
        padding-right: 10px;
      }
    }

    > p + ul {
      margin-top: -10px;
    }

    > ol {
      text-align: left;
      margin: 40px 25px;
      list-style: decimal;
    }

  }


  @media screen and (max-width: 960px) {

    h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 28px;
    }

    .right-column{
      width: 100%;
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 640px)
  {
    font-size: 18px;
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 30px;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 24px;
    }
  }
}

#hero-wrapper {
  position: relative;
  background-size: cover;
  /*height: 787px;*/

  .youtube-video {
    background-size: cover;

    .overlay {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  .cta {
    position: absolute;
    top: 250px;
    left: $page-horizontal-padding;
    p {
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
      color: white;
      font-size: 58px;
      font-weight: 300;
      line-height: 63px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    a {
      background-color: #9E0442;
      border-radius: 2px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
      color: white;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 1.01px;
      padding: 22px 42px;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  @media screen and (max-width:1260px){
    .cta {
      top: 100px;
    }
  }

  @media screen and (max-width:640px){
    .cta {
      top: 210px;
      left: 50px;

      p{
        font-size: 26px;
        line-height: 1.6;
        margin-bottom: 15px;
      }

      a {
        padding: 15px 20px;
      }
    }

    .youtube-video {
      height: 400px;
      padding-bottom: 0px;
    }
  }

  @media screen and (max-width:400px){
    .cta {
      left: 20px;
    }
  }
}

#upcoming-occasion-tabs {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 505px;
  height: 230px;
  background: rgba(255, 255, 255, 0.8);

  ul {
    margin: 0px;
  }

  .tabs {
    li {
      width: 50%;
      height: 55px;
      border-left: 1px solid #a9a7a8;
      a {
        color: #b4b7b5;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.76px;
        padding: 35px 0px 2px;
        border-bottom: 0px;
        background: none;
      }
      &.active {
        a {
          color: black;
        }
      }
      &:first-child {
        border-left: 0px;
      }
    }
  }

  .tabgroup {
    padding: 5px 60px 30px;
    > div {
      padding: 0px;
    }
  }

  .occasion {
    @extend .cf;
    padding: 24px 0px 5px;
    border-bottom: 1px solid #979fa1;

    .name, .date {
      float: left;
      width: 50%;

    }

    .name {
      color: #9E0442;
      font-size: 22px;
      line-height: 44px;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    .date {
      color: black;
      font-size: 28px;
      line-height: 44px;
      font-weight: 300;
      text-align: right;
    }

    &:last-child {
      border-bottom: 0px none;
    }

  }

  .programs {
    .occasion {
      .name {
        font-size: 16px;
        /*line-height: 1.3;*/
      }
    }
  }

  @media screen and (max-width: 1024px){
    position: relative;
    width: 100%;
    background: url("../images/upcoming-occassions-bg.jpg");
    background-size: cover;
  }

  @media screen and (max-width: 640px){

    .tabgroup {
      padding-left: 30px;
      padding-right: 30px;
    }

    .tabs {
      li {
        border-left: 0px none;
        height: auto;
        padding: 0px 15px;
      }
    }

    .occasion {
      padding-bottom: 15px;

      .name {
        font-size: 16px;
      }

      .date {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 640px){
    height: auto;

    .tabgroup {
      padding-left: 20px;
      padding-right: 20px;
    }

  }
}

#latest-news {
  height: 240px;
  background-image: linear-gradient(137deg, #9E0442 0%, #5F1C39 100%);
  padding: 20px $page-horizontal-padding;
  text-align: center;
  position: relative;

  h4 {
    color: white;
    font-weight: 700;
    letter-spacing: 0.89px;
    text-transform: uppercase;
    float: left;
    font-size: 16px;
  }

  a.news {
    color: white;
    font-size: 44px;
    font-weight: 400;
    margin-top: 0px;
    display: inline-block;
    @include middle-align(absolute);
    max-width: 600px;
  }

  a.all {
    color: #8acae6;
    font-weight: 400;
    letter-spacing: 0.89px;
    float: right;
    text-transform: uppercase;
    font-size: 16px;
  }

  @media screen and (max-width: 1060px){
    a.news {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px){
    padding-left: 20px;
    padding-right: 20px;

    a.news {
      font-size: 32px;
    }
  }

  @media screen and (max-width: 640px){
    a.news {
      font-size: 22px;
      padding: 0px 20px;
    }

    h4 {
      font-size: 14px;
    }

    a.all {
      font-size: 14px;
    }
  }
}

#logo-slider {
  margin: $widget-horizontal-padding 140px;
  /*height: 150px;*/
  .item {
    height: 80px;
    padding: 0px 20px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      margin: 0px auto;
      @include img-responsive;
      max-height: 100%;
      @include vertical-middle-align;
    }
  }

  @media screen and (max-width: 960px) {
    margin-left: 90px;
    margin-right: 90px;

    .slick-next {
      right: -70px;
    }

    .slick-prev {
      left: -70px;
    }
  }
}

@import "newsletterWidget";

#our-locations {
  padding: 80px $page-horizontal-padding;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h4 {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 400;
    float: left;
    margin-right: 50px;
  }

  .locations {
    overflow: hidden;
    ul {
      display: table;
      width: 100%;
      margin: 0px;
    }
    li {
      display: table-cell;
      width: (100% / 8);
      color: #2e2e2e;
      font-size: 18px;
      font-weight: 400;
      a {
        color: #9E0442;
        font-weight: 400;
        transition: none;
        &:hover {
          opacity: 1;
        }
      }

      &.active {
        font-weight: 700;
        a {
          font-weight: 700;
        }
      }
    }
  }

  @media screen and (max-width: 1000px){
    padding-top: 60px;
    padding-bottom: 60px;

    h4 {
      float: none;
      margin-bottom: 15px;
      margin-right: 0px;
    }

    .locations {
      ul{
        li {
          display: block;
          float: left;
          width: 33%;
          margin-bottom: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 640px){
    padding-top: 40px;
    padding-bottom: 40px;


    .locations {
      ul{
        li {
          width: 50%;
        }
      }
    }
  }

  @media screen and (max-width: 400px){
    padding-left: 25px;
    padding-right: 25px;
  }
}

#social {
  padding: 25px 0;
  margin: 0 $widget-horizontal-padding;
  box-shadow: 0 2px 24px rgba(190, 190, 190, 0.1);

  > div {
    display: inline-block;
    padding: 0px $page-horizontal-padding;
    float: left;
    width: (100% / 3);
    height: 100%;
    border-right: 1px solid #e1e1e1;

    &:first-child {
      padding-left: $widget-horizontal-padding;
    }

    &:last-child {
      border-right: 0px none;
      padding-right: $widget-horizontal-padding;
    }

  }

  p {
    line-height: 1.4;
  }

  .twitter-handle, .facebook-handle, .linkedin-handle {
    display: block;
    margin-top: 10px;
  }

  .twitter-handle {
    color: #3a4246;
    font-size: 16px;
    font-weight: 400;

    .twitter-icon {
      margin-right: 5px;
      position: relative;
      top: 8px;
    }
  }
  
  .media-body, .media-left, .media-right {
    display : table-cell !important;
  }


  .facebook-icon, .twitter-icon, .linkedin-icon
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.facebook-icon {
  background-image: url('../images/facebook.svg');
}

.twitter-icon {
  background-image: url('../images/twitter.svg');
}

.linkedin-icon {
  background-image: url('../images/linkedin.svg');
}

  @media screen  and (max-width: 1100px){
    > div {
      padding-right: 20px;
      padding-left: 20px;

      &:first-child {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 20px;
      }
    }
  }

  @media screen and (max-width: 960px) {
    padding: 0px;

    > div {
      display: block;
      float: none;
      width: auto;
      border-right: 0px none;
      border-bottom: 1px solid #e1e1e1;
      padding: 25px 0px;
      margin-left: 25px;
      margin-right: 25px;

      &:first-child {
        padding-left: 0px;
      }

      &:last-child {
        border-bottom: 0px none;
      }
    }
  }

  @media screen and (max-width: 640px) {
    margin: 0px 20px;
  }

  @media screen and (max-width: 400px) {
    margin: 0px;
  }

}

#facebook {
  .logo {
    border: 1px solid #e1e1e1;
    
    a {
      background-image: url(../images/logo-psi-middle-east.svg);
      background-repeat :no-repeat;
      background-size : 90%;
      background-position : center;
      width: 97px;
      height :97px;
      display : block;
    }
  }
  .page-name {
    font-size: 18px;
    font-weight: 700;
    color: #9E0442;
    margin-bottom: 5px;
    display: block;
  }
  a.like-button {
    width: 62px;
    height: 25px;
    display: inline-block;
    background-position: -188px -6px;
    margin-right: 10px;
  }
  .like-count {
    font-size: 14px;
    position: relative;
    top: -10px;
  }
}

#twitter {
  p {
    font-size: 18px;
    font-weight: 400;
    color: #1b1c2d;
  }
}

#linkedin {
  p {
    font-size: 18px;
    font-weight: 400;
    color: #1b1c2d;
    margin-bottom: 5px;
  }
  .followers {
    color: #9E0442;
    font-size: 14px;
    font-weight: 700;
  }
}

#breadcrumb {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: 1;

  li {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    color: white;
    font-size: 11px;
    font-weight: 300;
    padding: 6px 10px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
  }

  &.inverted {
    a {
      color: #565656;
    }
  }

  @media screen and (max-width: 640px){
    //display: none;
  }
}

#side-menu {
  width: 385px;
  background: white;
  a {
    font-size: 19px;
    color: white;
    font-weight: 400;
    box-shadow: 0 1px 0 #840538;
    padding: 15px 30px;
    display: block;
    background-color: #9E0442;
    margin-bottom: 1px;

  }

  .active a, a.active {
    background-color: #002A4E;
    border-radius: 1px;
    box-shadow: 0 1px 0 #022848;
  }

  ul {
    margin: 0px;
  }
  .right-widget-content {
    margin-top:60px;
    text-align: center;
    background: #f9f9f9;
    padding: 20px;
    h4 {
      font-size: 20px;
    }
    img {
      width: 50%;
    }
    .link {
      font-size:19px;
      margin:0;
      a {
        color: #4472c4;
        box-shadow: none;
        background-color: transparent;
        display: inline-block;
        padding: 0px;
      }
    }


  }
  @media screen and (max-width: 960px){
      width: 100%;
  }
}

#page-header {
  position : relative;
  
  #side-menu {
    position: absolute;
    right: $page-horizontal-padding;
    top: 100px;
    z-index: 2;
    
    &.has-1-items {
      top :auto;
      bottom: 100px;
    }
  }
}

#banner {
  position: relative;
  /*min-height: 20px;*/
  min-height: 150px;

  h1 {
    color: #FFF;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0px;
  }

  h2 {
    color: white;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0px;
  }

  h1.h2 {
    color: white;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0px;
  }

  img {
    width: 100%;
  }

  .blur-bg-title {
    height: 100px;
    position: absolute;
    bottom: 0px;
    padding: 10px 0px 10px 60px;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background: #666;
    .bg {
      position: absolute;
      width: 100%;
      /*height: 100%;*/
      margin-top: -10px;
      margin-bottom: -10px;
      top: -30px;
      bottom: -30px;
      left: 0px;
      background-size: cover;
      background-position: bottom left;
      z-index: -1;
      filter: blur(30px);
      opacity: 0.7;
      /*filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='30');*/
      /*-webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: url(#blur);
      */
    }
  }

  #shadow { padding-top: 150px; }

  .occasion-title {
    height: auto;
    position: absolute;
    bottom: -50px;
    width: 100%;
    padding: 0px $page-horizontal-padding;
    z-index: 1;

    .table {
      position: relative;
      background: rgba(0,0,0, 0.2);
      box-shadow: 0 2px 24px rgba(0, 0, 0, 0.13);
      overflow: hidden;
      width: 100%;
    }

    .bg {
      position: absolute;
      margin-top: -10px;
      margin-bottom: -10px;
      top: -30px;
      bottom: -30px;
      width: $max-page-width;
      left: (-1 * $page-horizontal-padding);
      background-size: cover;
      background-position: bottom left;
      z-index: -1;
      filter: blur(30px);
      /*-webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: url(#blur);
      filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');*/
    }

    .logo {
      display: table-cell;
      background: #FFF;
      width: 225px;
      padding: 25px;
      margin: -15px 30px -15px 0px;
      vertical-align: middle;
      text-align: center;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 80px;
      }
    }

    .title {
      overflow: hidden;
      display: table-cell;
      padding: 20px 20px 20px 30px;
      vertical-align: middle;
    }

    .button {
      display: table-cell;
      vertical-align: middle;
      padding-right: 30px;
      text-align: right;
      width: 210px;

      a {
        background-color: #9E0442;
        border-radius: 2px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
        padding: 18px 32px;
        color: #FFFFFF;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
        color: white;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1px;
      }
    }

    h1 {
      line-height: 1;
    }

    .date {
      color: white;
      font-size: 28px;
      font-weight: 400;
    }
  }

  .cta-banners {
    position: absolute;
    right: $page-horizontal-padding;
    bottom: 30px;
    z-index: 2;
    margin-bottom: 0px;

    .cta {
      height: 115px;
      width: 210px;
      margin-right: 25px;
      border-right: 0px none;

      h2 {
        font-size: 18px;
        font-weight: 700;
      }

      img {
        opacity: 0.7;
      }
    }
  }

  @media screen and (max-width: 1200px){

    h1 {
      font-size: 40px;
    }

    h2 {
      font-style: 32px;
    }

    .blur-bg-title {
      height: auto;
    }

  }

  @media screen and (max-width: 960px){
    min-height: 400px;

    img {
      height: 400px;
      width: auto;
      @include horizontal-middle-align();
    }

    .blur-bg-title {
      .bg {
        background-size: auto;
        background-position: bottom center;
      }
    }

    .cta-banners {
      display: none;
    }

    .blur-bg-title {
      height: auto;
      padding-left: 20px;
    }

    .occasion-title {
      img {
        width: 100%;
        min-height: 0px;
      }
    }
  }

  @media screen and (max-width: 960px){

    .occasion-title {
      padding-left: 0px;
      padding-right: 0px;
      top: 100%;
      position: relative;
      bottom: 0px;

      > .logo {
        position: absolute;
        bottom: 100%;
        z-index: 1;
        max-width: 300px;
        width: auto;
        background: #FFF;
        padding: 25px;
        margin-left: 20px;
        margin-top: 0px;
        margin-bottom: -15px;
        margin-right: 0px;

        img {
          width: auto;
          height: auto;
          min-height: 0px;
        }
      }

      .title {
        padding-top: 30px;
      }
    }
  }

  @media screen and (max-width: 640px){

    min-height: 318px;

    img {
      height: 318px;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 26px;
    }

    .blur-bg-title {
      padding-left: 15px;
      text-align: center;
    }

    .occasion-title {
      .logo {
        margin-left: 0px;
        @include horizontal-middle-align(absolute);
      }

      .title {
        display: block;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;

      }

      .button {
        display: block;
        width: 100%;
        padding: 15px;

        a{
          display: block;
          margin: 0px auto;
          max-width: 300px;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

    }
  }

}

#shadow {
  height: 40px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.04);
  }

  @media screen and (max-width: 640px){
    height: 0px;
  }
}

#share {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #ffffff;

  a {
    width: 80px;
    height: 80px;
    background-color: #f8f8f8;
    display: block;
    padding: 27px;

    .sprite-icon {
      display: block;
    }

    &.trigger {
      .sprite-icon {
        width: 26px;
        height: 26px;
        background-position: -43px -43px;
      }
    }

    &.facebook {
      padding-right: 32px;
      padding-left: 32px;
      .sprite-icon {
        width: 15px;
        height: 27px;
        background-position: -123px -42px;
      }
    }

    &.twitter {
      .sprite-icon {
        width: 31px;
        height: 27px;
        background-position: -79px -42px;
      }
    }

    &.linkedin {
      .sprite-icon {
        width: 28px;
        height: 27px;
        background-position: -156px -42px;
      }
    }

  }

  .share-links {
    width: 80px;
    height: (80px * 3);
    position: absolute;
    top: 80px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 150ms ease-in;
    background: #ffffff;

    ul {
      margin: 0px;
    }
  }

  &:hover {
    .share-links {
      max-height: (80px * 3);
      opacity: 1;
    }
  }
}

#team-dropdown {
  height: 50px;
  @extend .cf;
  background: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;

  .back {
    background-color: #9E0442;
    border-right: 1px solid #FFF;
    float: left;
    height: 50px;
    width: 50px;
    display: block;
    padding-top: 10px;
    padding-left: 10px;

    .sprite-icon {
      height: 30px;
      width: 30px;
      background-position: -192px -40px;
      display: block;
    }
  }

  .dropdown {
    position: relative;
    width: 220px;
    float: left;

    a {
      color: white;
      font-size: 22px;
      font-weight: 700;
      line-height: 50px;
      display: block;
      text-transform: uppercase;
      padding-left: 20px;
      border-top: 1px solid #FFF;
      background-color: #002A4E;
    }

    > a {
      border-top: 0px none;

      .sprite-icon {
        height: 20px;
        width: 20px;
        background-position: -227px -46px;
        display: block;
        transform: rotate(-90deg);
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }

    ul {
      background: #FFFFFF;
      display: block;
      margin: 0px;
      position: absolute;
      left: -9999px;
      width: 100%;

      a {
        background-color: #002A4E;
      }
    }

    &:hover {
      ul {
        left: 0px;
      }
    }
  }

  @media screen and (max-width: 400px){
    width: 100%;
    .back {
      width: 20%;
      padding-left: 0px;

      .sprite-icon {
        margin: 0px auto;
      }
    }

    .dropdown {
      width: 80%;
    }

  }
}

.pagination {
  background: #FFF;
  height: 68px;
  overflow: hidden;
  margin: -20px $widget-horizontal-padding 40px;
  position: relative;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.09);
  @extend .cf;

  a {
    height: 100%;
    display: inline-block;
    line-height: 68px;
    text-align: center;
    background: #FFF;
    color: lighten(#231f20, 60);
    font-size: 22px;
    font-weight: 400;
  }

  .prev, .next {
    background-color: #9E0442;
    color: white;
    font-size: 26px;
    font-weight: 400;
    width: 50%;
    float: left;
  }

  .next {
    float: right;
  }

  ul {
    float: left;
    margin: 0px;
  }

  li {
    display: inline-block;
    width: 68px;
    box-shadow: -1px 0 0 #cecece;
    float: left;

    a {
      width: 100%;
    }

    &.active {
      a {
        background-color: #010101;
        color: #FFF;
      }
    }

    &:first-child {
      box-shadow: none;
    }
  }
  &.page-1 {
    ul {
      float: left;
      position: relative;
      @include reset-middle-align(true, true);
    }
    .next {
      float: none;
      width: auto;
      overflow: hidden;
      display: block;
    }
  }

  &.page-last {
    ul {
      float: right;
      position: relative;
      @include reset-middle-align(true, true);
    }
    .prev {
      float: none;
      width: auto;
      overflow: hidden;
      display: block;
    }
  }

  @media screen and (max-width: 960px){
    margin-left: 0px;
    margin-right: 0px;
  }

  @media screen and (max-width: 960px){
    height: 36px;
    margin-bottom: 20px;
    margin-top: -1px;

    li {
      width: 36px;
    }

    a {
      font-size: 18px;
      line-height: 36px;
    }

    .prev, .next {
      font-size: 18px;
    }
  }

}

#photo-gallery {
  margin: 60px -15px;

  .column-width {
    background: #cccc99;
    height: 0px;
    width: 5%;
  }

  .photo {
    padding: 15px;
    transform: translatez(0);
    display: block;
    overflow: hidden;
    position: absolute;
  }

  img {
    width: 100%;
  }

  .half {
    width: 50%;
  }

  .one-fourth {
    width: 25%;
  }

  .full {
    width: 100%;
  }

  /*.one-third {
    width: 33.33333%;
  }*/

  @media screen and (max-width: 960px){
    .photo {
      padding: 5px;
    }
  }

  @media screen and (max-width: 640px){
    margin-bottom: 30px;
    margin-top: 30px;

    .half {
      width: 100%;
    }

    .one-fourth {
      width: 100%;
    }
  }
}

.cta-banners {
  @extend .cf;
  margin-bottom: 60px;

  .cta {
    width: 50%;
    float: left;
    background: #000;
    height: 400px;
    overflow: hidden;
    border-right: 1px solid #d3d3d3;
    position: relative;

    &:last-child {
      border-right: 1px solid #d3d3d3;
    }

    img {
      min-width: 100%;
      min-height: 100.5%;
      width: auto !important;
      height: auto !important;
      @include middle-align();
      opacity: 0.5;
    }

    .overlay {
      display: block;
      @include vertical-middle-align(absolute);
      width: 100%;
    }

    h2 {
      color: white;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 0px;
      text-align: center;
    }
  }
  .post-cta {
    background-color: #9E0442;
    color: #ffffff;
    text-align: center;
    padding: 0;
    a {
      h2 {
        font-size: 28px;
        padding: 20px 10px;
        color: #ffffff;
        margin-bottom: 1px;
        @media screen and (max-width: 960px){
          font-size: 22px;
        }
        @media screen and (max-width: 640px){
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 960px){
    .cta {
      height: 300px;
    }
  }

  @media screen and (max-width: 640px){

    margin-bottom: 30px;

    .cta {
      width: 100%;
      float: none;
      border-right: 0px none;
      border-bottom: 1px solid #d3d3d3;
      height: 300px;

      img {
        height: 100% !important;
      }

      h2 {
        font-size: 30px;
      }

      .overlay {
        padding: 15px;
      }
    }
  }

  @media screen and (max-width: 400px){
    .cta {
      height: 200px;
    }
  }
}

#page {
  #team-dropdown {
    display: none;
    z-index: 9;
  }

  @media (max-width: 960px) {
    #breadcrumb {
      display: none;
    }

    #team-dropdown {
      display: block;
    }
  }

  @media (max-width: 400px) {
    #team-dropdown {
      position: relative;
      .dropdown {
        width: 100%;
      }
    }
  }
}

#page-body {
  padding: 40px $page-horizontal-padding;
  @extend .cf;

  h1 {
    color: #231f20;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.4;
    + .sub-title {
      margin-top: -30px;
      margin-bottom: 40px;
    }
    &.customHeading {
      color: #4472c4;
    }
  }

  h2 {
    color: #002A4E;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 35px;
    + .sub-title {
      margin-top: -35px;
      margin-bottom: 35px;
    }
  }

  h3 {
    color: #231f20;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    + .sub-title {
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }

  h4 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .listing {
    list-style: inherit;
    list-style-type: decimal;
    padding-left: 30px;
  }
  .sub-title {
    color: #c2c2c2;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .sub-page {
    margin-top: 100px;

    &:first-child {
      margin-top: 0px;
    }

    .sub-page {
      margin-top: 0px;

      h2 {
        color: #231f20;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      h4 {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;
      }

    }
  }

  h1 + .sub-page {
    margin-top: 40px;
  }

  .tabs-wrapper {
    box-shadow: 0 2px 22px rgba(0, 0, 0, 0.06);
    max-width: 500px;
    width: 100%;
    margin: 40px 0px 45px 10px;

    .tabs {
      li {
        width: 50%;
        border-left: 1px solid #e8e6e7;

        a {
          opacity: 0.5;
          color: #231f20;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 1px;
          padding-bottom: 5px;

          &:hover, &.active {
            background: none;
          }
        }

        &.active {
          a {
            opacity: 1;
            font-weight: 900;
          }
        }

        &:first-child {
          border-left: 0px;
        }
      }
    }

    .tabgroup {
      padding: 10px;
      > div {
        padding: 20px 20px 5px;
        background: #f8f8f8;
        text-align: center;
      }
      a {
        color: #9E0442;
        font-size: 29px;
        font-weight: 400;
        line-height: 1.2;
        display: block;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 10px;

        &.pdf {
          padding-left: 50px;
          /*height: 46px;*/
          line-height: 46px;
          position: relative;
          margin-bottom: 15px;

          .sprite-icon {
            position: absolute;
            top: 0px;
            left: 0px;
            background-position: -2px -40px;
            width: 33px;
            height: 100%;
          }
        }

      }
    }

    @media screen and (max-width: 640px){
      margin-left: 0px;
      margin-right: 0px;

      .tabgroup {
        a {
          font-size: 18px;
        }
      }

    }
  }

  .page-tabs {
    margin-bottom: 40px;

    li {
      mix-width: 20%;
      border-left: 0px none;

      a {
        background-color: #f2f2f2;
        color: #231f20;
        font-size: 22px;
        font-weight: 400;
        margin-right: 2px;
      }

      &:last-child {
        a {
          margin-right: 0px;
        }
      }

      &.active {
        a {
          background-color: #231f20;
          color: white;
        }
      }
    }

    .current-tab {
      display: none;
      padding: 10px 15px;
      margin-right: 0px;
      text-align: left;
      background-color: #231f20;
      color: white;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 1024px)
  {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (max-width: 768px){
    .page-tabs {
      li {
        float: none;
        width: auto !important;
        border-bottom: 1px solid #CCC;

        a{
          padding: 10px 15px;
          margin-right: 0px;
          text-align: left;
        }

        &.active {
          display: none;
        }
      }

      .current-tab {
        display: block;
        position: relative;

        &:after {
          display: block;
          content : ' ';
          width: 25px;
          height: 25px;
          background-image: url(../images/arrow-white.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          right: 15px;
          top: 17px;
          transform: rotate(-90deg);
        }
      }

      ul.tabs {
        max-height: 0px;
        overflow: hidden;
        transition: all 100ms ease-in-out;
      }

      &.hover {
        ul.tabs {
          max-height: 300px;
        }
      }
    }
  }

  @media screen and (max-width: 640px)
  {
    padding: 30px 15px;

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
      + .sub-title {
        margin-top: -8px;
        margin-bottom: 20px;
      }
    }

    h2 {
      font-size: 30px;
      margin-bottom: 15px;
      + .sub-title {
        margin-top: -15px;
        margin-bottom: 15px;
      }
    }

    h3 {
      font-size: 18px;
    }
  }
}

#article-list {

  #breadcrumb {
    li {
      opacity: 0.8;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  article {
    position: relative;
    height: 450px;
    background: #000;
    margin-bottom: 1px;
    overflow: hidden;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      min-width: 100%;
      min-height: 100%;
      opacity: 0.5;
      @include middle-align();
    }

    .overlay {
      position: absolute;
      max-width: 900px;
      width: 100%;
      margin: 0px auto;
      @include middle-align(absolute);
    }

    h2 {
      color: white;
      font-size: 54px;
      font-weight: 400;
      line-height: 1.4;
      padding: 0px 15px;

      /*position: absolute;
      @include vertical-middle-align;*/
      text-align: center;
      margin-bottom: 30px;
    }

    .sub-title {
      color: #cbcbcb;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      margin-top: -10px;
    }

    .category {
      padding: 5px 18px 8px;
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin-right: 25px;
      text-transform: uppercase;
      border-radius: 2px;

      &.news {
        background-color: #9E0442;
      }

      &.events {
        background-color: #f0331d;
      }
    }

    .date {
      color: white;
      font-size: 16px;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 768px){
    article {
      height: 350px;

      h2 {
        font-size: 28px;
      }

      .overlay {
        max-width: 600px;
      }
    }
  }

  @media screen and (max-width: 640px){
    article {
      height: 290px;

      h2 {
        font-size: 22px;
      }

      .overlay {
        max-width: 500px;
      }
    }
  }
}

#occasion-header {
  #banner {
    min-height: 160px;
  }
}

#occasion-body {
  padding: 100px $page-horizontal-padding 40px;
  @extend .cf;

  .schedule {
    margin-bottom: 60px;
    overflow: hidden;

    .tables {
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 30px;
      margin-bottom: -30px;
    }

    .table {
      display: table;
      width: 100%;
    }

    .month {
      display: table-cell;
      background: #dff1fb;
      width: (100%/12);
      min-width: 75px;
      height: 100%;
      border-right: 1px solid #FFF;

      .name {
        background-color: #9E0442;
        color: white;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.24px;
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0px;
      }

      .dates {
        color: black;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.45px;
        line-height: 15px;
        text-align: center;
        padding: 10px 0px;
      }

      &:last-child {
        border-right: 0px none;
      }

      &.span-2 {
        width: (100%/6);
        min-width: 150px;
      }

      &.span-3 {
        width: (100%/4);
        min-width: 225px;
      }

    }

    h3 {
      font-size: 18px;
      text-transform: uppercase;
      float: left;
      margin-right: 30px;
    }
  }

  .dropdown-menu {
    float: left;
    margin-bottom: 10px;
    border: 1px solid #c1c1c1;

    .placeholder-container {
      padding-left: 0px;
    }

    .placeholder {
      padding: 0px 15px;
      line-height: 44px;
      text-transform: uppercase;

      &:after {
        border-top-color: #4c4c4c;
      }
    }

    .options {
      background: #FFF;
      border: 1px solid #c1c1c1;
      padding: 0px;

      li {
        padding: 10px 15px;
        height: 44px;
        line-height: 0px;
        font-size: 0px;
        a {
          font-size: 14px;
          text-transform: uppercase;
          line-height: 24px;
          color: #333 !important;
          padding: 0px 5px;
        }
      }
    }
  }

  .flyer {
    margin-bottom: 25px;

    a {
      //color: #9E0442;
      font-size: 24px;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .relevant-items {
    .item {
      width: 50%;
      padding-right: 25px;
      float: left;
      a {
        display: inline-block;
        width: 100%;
        padding: 23px 20px;
        background-color: #9E0442;
        border-radius: 2px;
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.14);
        color: white;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  .left-column {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 960px){
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

    .left-column {
      margin-bottom: 30px;
    }

    .relevant-items {
      .item {
        a {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 768px){
    .relevant-items {
      .item {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 10px;
        a {
          font-size: 18px;
          padding: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 640px){
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

    .schedule {
      margin-bottom: 30px;

      h3 {
        float: none;
        margin-right: 0px;
        font-size: 16px;
      }
    }

    .dropdown-menu {
      float: none;
      margin: 0px auto 15px;
      display: inline-block;
    }
  }
}

#event-article-body {
  padding: 40px $page-horizontal-padding;
  @extend .cf;

  .category {
    padding: 5px 18px 6px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-right: 25px;
    /*margin-top: 60px;*/
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;

    &.news {
      background-color: #9E0442;
    }
 
    &.events {
      background-color: #002A4E;
    }
  }

  .date {
    color: lighten(#231f20, 50%);
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    /*margin-top: 60px;*/
  }

  .left-column {
    margin-top: 30px;
  }

  .sub-title {
    color: #9E0442;
    font-size: 120px;
    font-weight: 700;
    margin-top: -60px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 960px){
    padding-left: 20px;
    padding-right: 20px;

    .sub-title {
      font-size: 80px;
      margin-top: -20px;
    }
  }

  @media screen and (max-width: 640px){
    padding-left: 15px;
    padding-right: 15px;

    .sub-title {
      font-size: 40px;
      margin-top: -10px;
    }
  }
}

#team-body, #clients-body {
  @extend .cf;
  padding: 60px $page-horizontal-padding;

  h1 {
    font-size: 58px;
    font-weight: 400;
    line-height: 73px;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .left-column {
    margin: 0px auto;
  }

  @media screen and (max-width: 1024px){
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 960px) {
    h1 {
      font-size: 40px;
      line-height: 1.6;
    }
  }

  @media screen and (max-width: 640px) {
    padding-top: 80px;

    h1 {
      font-size: 36px;
    }
  }
}

#team-slider {
  padding: 20px 30px 20px 40px;
  @extend .cf;
  .thumbs {
    float: left;
    width: 45%;
    margin-right: 100px;
    @extend .cf;
    padding-top: 10px;
  }

  .thumb {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 140px;

    img {
      width: 100%;
    }
  }

  .details {
    overflow: hidden;

    .detail {
      padding: 10px 15px 0px;
      overflow: hidden;
    }

    img {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      margin-bottom: 15px;
      max-width: 100%;
    }
  }

  h2 {
    color: #002A4E;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  h3 {
    color: #231f20;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  p {
    color: #1b1c2d;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
  }
    
    strong {
        font-weight :bold;
    }
    
    ul {
        li {
            font-size :18px;
        }
    }

  .social-handles {

    margin: -10px 0px 30px;

    li {
      display: inline-block;
    }

    a {
      display: block;
      width: 60px;
      height: 60px;
      box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
      margin-right: 10px;

      &.facebook {
        padding: 15px 25px;
        .sprite-icon {
          width: 9px;
          height: 20px;
          background-position: -126px -9px;
        }
      }

      &.twitter {
        padding: 15px 20px;
        .sprite-icon {
          width: 22px;
          height: 18px;
          background-position: -160px -12px;
        }
      }

      &.linkedin {
        padding: 15px 19px;
        .sprite-icon {
          width: 21px;
          height: 19px;
          background-position: -85px -8px;
        }
      }
    }
  }

  @media screen and (max-width: 1400px){
    .thumbs {
      margin-right: 50px;
    }

    .thumb {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 1200px){
    padding-left: 0px;
    padding-right: 0px;

    .thumbs {
      margin-right: 0px;
      width: 50%;
    }
  }

  @media screen and (max-width: 700px){
    .thumb {
      width: 130px;
    }
  }

  @media screen and (max-width: 640px){
    .thumbs {
      float: none;
      max-width: 450px;
      width: auto;
      margin-bottom: 40px;
      margin: 0px auto;

      .thumb {
        width: 33%;
        padding: 5px;
        margin-right: 0px;
        margin-bottom: 0px;

        a {
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }

        img {
          width: 100%;
        }
      }
    }
    .details {
      max-width: 450px;
      margin: 0px auto;
    }
  }

  @media screen and (max-width: 490px){
    .thumbs {
      margin-left: -5px;
      margin-right: -5px;
    }
    .details {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}

#clients-body {
  padding-bottom: 0px;
}

#clients-grid {
  @extend .cf;
  padding: 0px 2px 60px;

  .client {
    width: 25%;
    /*border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;*/
    float: left;
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    a {
      width: 100%;
      height: 100%;
      /*background-color: whitesmoke;*/
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      padding: 30px;
      img {
        @include middle-align();
        max-width: 100%;
      }
    }

    .description {
      display: none;

    }

    /*&:nth-of-type(4n+4) {
      border-right-color: whitesmoke;
    }*/

    &.active {
      a {
        background: #FFF;
        box-shadow: 0 5px 1px #002A4E;
      }
    }
  }

  .description {
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (max-width: 768px) {
    .client {
      width: 50%;
    }
  }
}

#knowledge-center {
  .cta-banners {

    .cta {
      width: 33.33%;
      border-bottom: 1px solid #d3d3d3;
      height: 300px;

      h2{
        font-size: 32px;
      }

      img {
        opacity: 0.1;
      }

      &.purple {
        background-color: #9E0442;
      }

      &.blue {
        background-color: #002A4E;
      }

      &.azure-white {
        background-color: #E1EEF9;

        h2 {
          color: #002A4E;
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      img {
        min-height: 100%;
        //@include horizontal-middle-align();
      }

      .overlay {
        text-align: center;
      }

      .category {
        padding: 5px 18px 8px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        /*margin-right: 25px;*/
        text-transform: uppercase;
        border-radius: 2px;

        &.news {
          background-color: #9E0442;
        }

        &.events {
          background-color: #002A4E;
        }

        &.purple {
          background-color: #9E0442 !important;
        }
  
        &.blue {
          background-color: #002A4E !important;
        }
      }
    }

    h4 {
      color: white;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 2px;
      text-align: center;
      margin: 0px auto 30px;
    }

    h3 {
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1.4;
      color: white;
      text-align: center;
      max-width: 470px;
      margin: 0px auto;
    }
  }

  @media screen and (max-width: 960px){
    .cta-banners {
      h3 {
        font-size: 26px;
      }
    }
  }

  @media screen and (max-width: 640px){
    .cta-banners {

      .cta {
        width: 100%;

        h2 {
          font-size: 26px;
        }
      }

      h3 {
        font-size: 22px;
      }
    }
  }
}

#knowledge-center-body {
  @extend .cf;
  padding: 0px $page-horizontal-padding 30px;

  h2 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
  }

  #photo-gallery {
    margin-top: 30px;
  }

  @media screen and (max-width: 960px){
    padding-left: 20px;
    padding-right: 20px;

    h2 {
      font-size: 32px;
    }
  }

  @media screen and (max-width: 640px){
    h2 {
      font-size: 26px;
      margin-bottom: 10px;
    }

    #photo-gallery {
      margin-top: 15px;
    }

  }
}

#calendar {
  @extend .cf;
  padding-bottom: 40px;

  a {
    height: 100%;
    display: block;
    width: 100%;
    color: #000;
  }

  .scroll-wrapper {
    max-height: 91px;
    overflow: hidden;
    height: 100%;
  }

  .scroll {
    height: 100%;
  }

  .name {
    width: 320px;
    float: left;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;

    a {
      padding: 0px 15px 0px 30px;
    }

    .media {
      @include vertical-middle-align;
    }
  }

  .months {
    overflow: hidden;
    @extend .cf;
  }

  .month {
    width: (100% / 12);
    min-width: 75px;
    float: left;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;

    &.span-2 {
      width: (100% / 6);
      min-width: 150px;
    }

    &.span-3 {
      width: (100% / 4);
      min-width: 225px;
    }

    &:last-child {
      border-right: 0px none;
    }

  }

  .headers {
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    line-height: 35px;

    .month {
      text-transform: uppercase;
      font-size: 10px;
      background: #9E0442;
    }

    .name {
      background: #9E0442;
    }
  }

  .row {
    height: 55px;
    font-weight: 700;
    text-align: center;

    .more-details {
      border-radius: 2px;
      background-color: #9E0442;
      box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.18);
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      /*padding: 20px 70px;*/
      padding: 10px 20px;
      font-size: 16px;
      border: 0px none;
      width: auto;
      margin: 0px auto;
      display: none;
    }

    .name {
      height: 100%;
      line-height: 1.2;
      position: relative;
      background: #def2fb;
      text-align: left;

      img {
        max-width: 45px;
        max-height: 40px;
      }

      .media-body {
        font-size: 14px;
        font-weight: 600;
      }

      .close {
        padding: 10px;
        width: 100%;
        height: 100%;
        text-decoration: none;
        background: #def2fb url("../images/cross.svg") no-repeat center;
        background-size: 24px;
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 200ms linear;

        &:hover {
          opacity: 1;
        }
      }
    }

    .months {
      height: 100%;
    }

    .month {
      height: 100%;
      font-size: 11px;
      letter-spacing: 1.5px;
      text-align: center;
      background: #def2fb;
      a {
        padding-top: 10px;
      }
    }

    &.expanded {
      + .expand {
        max-height: 3000px;
        opacity: 1;
        visibility: visible;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .name {
        .close {
          display: block;
        }
      }
    }

    .headers {

      .months {
        height: auto;
      }

      .name {
        font-size: 10px !important;
      }
    }
  }

  .expand {
    margin: 0px auto;
    max-width: 1020px;
    max-height: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 100ms ease-out;

    .logo {
      float: left;
      margin-right: 30px;
      max-width: 200px;
      img {
        max-width: 100%;
      }
    }

    .details {
      overflow: hidden;

      a {
        display: inline;
        color: #9E0442;
        font-weight: bold;

        &.flyer {
          font-weight: 400;
        }
      }
    }

    .button {
      float: left;
      width: auto;
      background-color: #9E0442;
      border-radius: 2px;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
      padding: 18px 50px;
      color: #FFFFFF !important;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
      color: white;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 1px;
    }

    .flyer {
      color: #9E0442;
      width: auto;
      font-size: 29px;
      font-weight: 400;
      line-height: 1.6;
      display: inline-block;
      float: right;
      margin-top: 8px;

      &.pdf {
        padding-left: 50px;
        height: 46px;
        line-height: 46px;
        position: relative;

        .sprite-icon {
          position: absolute;
          top: 0px;
          left: 0px;
          background-position: -2px -40px;
          width: 33px;
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 1220px){

    .name {
      float: none;
      width: 100%;
      border-right: 0px none;
    }

    .months {
      width: 100%;
    }

    .row {
      height: auto;
      margin-bottom: 2px;

      .name {
        height: 55px;
      }

      .months {
        height: 55px;
      }

      &.expanded {
        .name {
          .close {
            display: none;
          }
        }
      }
    }

  }

  @media screen and (max-width: 900px){

    .scroll {
      padding-bottom: 30px;
      margin-bottom: -30px;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .scroll-wrapper {
      max-height: 0px;
      transition: all 150ms ease-in-out;
    }

    .row {
      margin-bottom: 1px;

      .headers {
        .months {
          background: #9E0442;

          .month {
            background: #9E0442;
          }
        }
      }

      &.expanded {

        padding-bottom: 30px;

        + .expand {
          max-height: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .more-details {
          display: inline;
        }

        .name {
          background: #ffffff;
          height: auto;
          padding-top: 10px;
          padding-bottom: 10px;


          img {
            max-width: 100px;
          }

          .media {
            @include reset-middle-align(true, true)
          }

          .media-body {
            font-size: 16px;
          }
        }

        .scroll-wrapper {
          max-height: 91px;
          margin-bottom: 30px;
        }
      }
    }

    .months {
      display: table;

      .month {
        display: table-cell;
        float: none;
      }
    }


    > .headers {
      .months {
        display: none;
      }
    }
  }

  @media screen and (max-width: 640px){
    .name {
      a {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

#careers-body {
  @extend .cf;
  padding: 40px 0 60px;

  #side-menu {
    h4 {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }

    h4 + ul {
      margin-top: 10px;
    }
  }

  .left-column {
    padding-right: $page-horizontal-padding;
  }

  .right-column {
    margin-left: 0px;
    transition: all 150ms ease-out;
  }

  .apply {
    border-radius: 2px;
    background-color: #9E0442;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.09);
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1.4px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
    padding: 14px 40px;
    display: inline-block;
    text-transform: uppercase;
  }

  @media screen and (max-width: 640px){
    padding-top: 20px;
  }
}

#careers-slider {
  @extend .cf;
  width: 200%;
  transition: all 150ms ease-out;

  .overview-content {
    padding: 0px $page-horizontal-padding;
    float: left;
    width: 50%;
    @extend .cf;
  }

  .jobs {
    overflow: hidden;
    padding: 0px (385px + 30px + ($page-horizontal-padding*3)) 0px 0px;
    float: right;
    width: 50%;
  }

  .right-column {
    position: relative;

    .close {
      padding: 0px;
      display: block;
      width: 24px;
      height: 24px;
      text-decoration: none;
      background: #FFF url("../images/cross.svg") no-repeat;
      border-bottom: 0px none;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: -57px;
      display: none;
    }
  }

  &.showing-job {
    .right-column {
      margin-left: 30px;
    }

    .close {
      display: block;
    }
  }

  @media screen and (max-width: 1024px){

    .left-column {
      padding-right: 30px;
    }

    .right-column {
      .close {
        left: -39px;
      }
    }

    .overview-content {
      padding-left: 20px;
      padding-right: 20px;
    }

    .jobs {
      padding-right: (385px + 30px + (30px*3));
    }

  }

  @media screen and (max-width: 960px){
    width: 100%;

    .overview-content {
      width: 100%;
    }

    .jobs {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    .right-column {
      min-height: 0px;
      margin-bottom: 30px;

      .close {
        left: 0px;
      }
    }

    .left-column {
      padding-right: 0px;
      max-height: 2000px;
      transition: all 150ms ease-in-out;
    }

    #side-menu {
      h4 {
        text-align: left;
        font-size: 20px;
      }
    }

    &.showing-job {

      .left-column {
        max-height: 0px;
        overflow: hidden;
      }

      #side-menu {
        padding-left: 40px;
      }
    }
  }

  @media screen and (max-width: 640px){


    .overview-content {
      padding-left: 15px;
      padding-right: 15px;
    }

    .jobs {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
}

#contact {
  #our-locations {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 60px;

    ul {
      padding: 0px;
      margin: 0px;
    }
  }
}

#contact-form {
  padding: 60px 15px 0px;
  max-width: 590px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 80px;

  h3 {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: #0799da;
    margin-bottom: 20px;
  }

  .phone {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #2e2e2e;
    margin-bottom: 10px;

    i {
      background: url("../images/telephone.svg") no-repeat center;
      background-size: 20px;
      width: 60px;
      height: 60px;
      opacity: 0.5;
      border: solid 1px #979797;
      display: inline-block;
      border-radius: 50px;
      margin-top: -10px;
      vertical-align: middle;
    }
  }


  h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #b2b2b2;
    text-transform: uppercase;
  }

  .headoffice {
    margin-bottom: 80px;
  }

  .form-trigger {
    border-radius: 2px;
    background-color: #9E0442;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.18);
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    padding: 20px 70px;
    display: inline-block;
    max-height: 100px;
    transition: all 100ms ease-out;
    overflow: hidden;

  }

  form {
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
    transition: all 200ms ease-out;
    overflow: hidden;
  }
  
  .field {
    text-align : left;
    
    label {
      display : none;
    }
  }

  input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
  }

  textarea {
    height: 200px;
  }
  label {
    font-weight :500;
    text-align : left;
  }
  .hs-error-msgs {
    color: #F21723;
    font-size :14px;
    margin-bottom :10px;
  }

  button, input[type=submit] {
    border-radius: 2px;
    background-color: #9E0442;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.18);
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    padding: 20px 70px;
    display: block;
    border: 0px none;
    width: 100%;
    transition: all 0.1s ease;
    cursor : pointer;
    
    &:hover {
      opacity: 0.6;
    }
  }

  &.show-form {
    .form-trigger {
      max-height: 0px;
      opacity: 0;
      visibility: hidden;
      padding: 0px;
    }

    form {
      opacity: 1;
      visibility: visible;
      max-height: 2000px;
    }
  }

  @media screen and (max-width: 640px){
    padding-top: 30px;

    h3 {
      font-size: 18px;
    }

    .phone {
      font-size: 28px;

      i {
        width: 40px;
        height: 40px;
        background-size: 15px;
      }
    }

    .form-trigger {
      font-size: 18px;
      padding: 15px 30px;
    }

    .headoffice {
      margin-bottom: 30px;
    }

    input[type=submit] {
      padding: 10px;
      font-size: 18px;
    }
  }
}

#contact-map {
  height: 360px;
  margin-bottom: 20px;

}

#booking-body {
  @extend .cf;
  padding: 40px $page-horizontal-padding;
  max-width: 1120px;
  margin: 0px auto;

  .logo {
    float: left;
    margin-right: 30px;
    max-width: 200px;

    img {
      max-width: 100%;
    }
  }

  .details {
    overflow: hidden;

    a {
      font-weight: bold;

      &.flyer {
        font-weight: 400;
      }
    }

    .button {
      float: left;
    }
  }

  .flyer {
    color: #9E0442;
    width: auto;
    font-size: 29px;
    font-weight: 400;
    line-height: 1.6;
    display: inline-block;
    float: right;
    margin-top: 8px;

    &.pdf {
      padding-left: 50px;
      height: 46px;
      line-height: 46px;
      position: relative;

      .sprite-icon {
        position: absolute;
        top: 0px;
        left: 0px;
        background-position: -2px -40px;
        width: 33px;
        height: 100%;
      }
    }
  }

  .read-more-box {
    margin-bottom: 100px;

  }

  @media screen and (max-width: 960px){
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 640px){
    padding-left: 15px;
    padding-right: 15px;

    .logo {
      float: none;
      margin-bottom: 15px;
    }



    .details {

      a.flyer {
        font-size: 18px;
        float: none;
        margin-bottom: 10px;
      }

      .button {
        display: block;
        float: none;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        max-width: 290px;
        padding: 10px;
      }
    }

    .read-more-box {
      margin-bottom: 50px;
    }
  }
}

#booking-form {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 60px;
  @extend .cf;
  &.contactUs {
    width: 100%;
    margin: 60px auto;
    padding: 20px;
    background: #f9f9f9;
    input[type=submit] {
      padding: 20px 0px;
      font-size: 20px;
    }
  }
  .cost {
    font-size: 26px;
    font-weight: 400;
    color: #8e8e8e;
    padding: 18px 30px;
    pointer-events: none;
    margin-bottom: 10px;
    text-align: right;
  }

  input[type=submit] {

    border-radius: 2px;
    background-color: #9E0442;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.18);
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    padding: 20px 70px;
    display: block;
    border: 0px none;
    width: 100%;
    cursor: pointer;
  }

  h4 {
    font-weight: 400;
    color: #757575;
    font-size: 20px;
    display: inline-block;
    padding-right: 30px;
  }


  .form-group {
    float: left;

    &.right {
      float: right;
    }
  }

  #sponsor-details {
    float: left;
    margin:0px;
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
    transition: all 200ms ease-out;

    &.show {
      margin:20px 0px;
      opacity: 1;
      visibility: visible;
      max-height: 500px;
    }
  }

  #company-name {
    opacity: 0;
    visibility: hidden;
    transition: all 100ms linear;
    max-height: 0px;
    margin-bottom: 0px;

    &.show {
      opacity: 1;
      visibility: visible;
      max-height: 90px;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 640px){
    margin-bottom: 10px;

    input[type=submit] {
      padding: 10px;
      font-size: 18px;
    }

    .cost {
      font-size: 22px;
    }

    h4 {
      display: block;
      font-size: 18px;
    }
  }
}

#search-results {
  .item {
    padding: 15px 0px;
    border-top: 1px solid #e4e4e4;

    &:first-child {
      border-top: 0px none;
    }

    .type {
      font-size: 16px;
      font-weight: normal;
      color: #333;
    }

    &.no-results {
      .type {
        display: none;
      }
    }
  }
}

@import "acquiringNotification";
