$max-page-width : 1400px;
$font-family-sans-serif : 'Lato', sans-serif;
$font-size-base : 16px !default;
$sprite-image-size : 250px;
$page-horizontal-padding : 60px;
$widget-horizontal-padding : 40px;
$widget-vertical-padding : 30px;


