#acquiring-notification
{
    background : #9E0442;
    text-align : center;
    overflow : hidden;
    max-height :100px;
    transition: all 500ms ease-in-out;
    
    &.close {
        max-height :0px;
    }
    
    .wrapper {
        max-width: 1400px;
        margin: 0px auto;
        position : relative;
        padding: 10px 20px;
    }
    
    a {
        color: #FFF;
        font-size: 16px;
        
        &.close {
            display: none !important;
            width: 40px;
            height: 40px;
            display: block;
            position : absolute;
            right :0px;
            top: 0px;
            padding: 10px;
            opacity: 1;
            
            .fill {
                fill: #FFF;
            }
            
            &:hover {
                opacity: 0.8;
            }
        }
    }
}