@media only screen and (max-width: 1400px) {
  .fluid-section-two .content-column .inner {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 1340px) {
  .page-wrapper {
    overflow: hidden;
  }
  .fluid-section-two .content-column .inner {
    padding-top: 60px;
  }
  .main-footer {
    #social {
      #facebook {
        padding: 0px 20px !important;
        .page-name {
          font-size: 15px !important;
        }
      }
      #twitter {
        padding: 0px 20px !important;
      }
      #linkedin {
        padding: 0px 20px !important;
      }
    }
    #newsletter-signup {
      padding: 0px 20px !important;
      label {
        font-size: 15px !important;
      }
      span {
        font-size:13px !important;
      }
      .email {
        input {
          padding:10px 0px 10px 10px;
          font-size: 12px !important;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
      .buttons {
        input[type="submit"] {
          padding:10px !important
        }
      }
    }
    .about-widget {
      p {
        font-size:13px !important
      }
    }
    #modal-newsletter {
      min-height:295px !important;
      .nl_content {
        p {
          font-size:15px !important;
        }
        span {
          font-size:15px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .fluid-section-two {
    .content-column, .carousel-column {
      width: 100%;
    }
    .content-column .inner {
      padding: 70px 40px 20px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .testimonial-bottom-section {
    .testimonial-wrap {
      margin: 42px auto 0px auto !important;
      .testimonial-text {
        margin: 0px 0px 25px 0px !important;
        padding: 0px 20px !important;
      }
    }
    .author-image {
      margin-top:25px !important
    }
    .testimonial-video {
      margin: 42px auto 0px auto !important;
    }
  }
  .main-footer .footer-widget.links-widget {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1140px) {
  .main-header {
    position: relative;
    margin: 0px !important;
    .nav-outer {

    }
    .main-box .logo-box {
      top: -40px !important;
      .logo {
        width: 175px;
        height:60px;
        a {
          background-size: 175px 60px;
        }
      }
    }
  }
  .main-slider {
    .location {
      .locations ul li a {
        width: 100px;
      }
    }
  }
  .main-menu .navigation > li {
    margin-left: 0px;
    margin-right: 30px;
  }
  .outer-box2 .search-form .form-group input[type="text"] {
    width: 200px;
  }
  .page-title {
    padding: 80px 0px;
  }
  .sidebar-page-container .sidebar, .sidebar.default-sidebar {
    margin-left: 0px;
  }
  .sidebar-page-container .content-side {
    padding-right: 15px;
    &.default-content-side {
      padding-right: 15px;
    }
  }
  .testimonial-style-one .carousel-pager {
    padding-right: 60px;
  }
  .main-footer {
    #social {
      #facebook {
        width: 50%;
        .page-name {
          font-size: 12px !important;
        }
      }
      #twitter {
        width: 50%;
      }
      #linkedin {
        width: 50%;
      }
    }
    #newsletter-signup {
      width: 50%;
      label {
        font-size: 12px !important;
      }
      span {
        font-size:12px !important;
      }
      .email {
        input {
          padding:10px 0px 10px 10px;
          font-size: 12px !important;
          -webkit-border-top-left-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
      .buttons {
        input[type="submit"] {
          padding:10px !important
        }
      }
    }
    #modal-newsletter {
      min-height:240px !important;
      .nl_content {
        p {
          font-size:15px !important;
        }
        span {
          font-size:15px !important;
        }
      }
    }
    .about-widget .desc-text, .posts-widget {
      padding-right: 0px;
    }
    .subscribe-widget {
      padding-left: 0px;
    }
  }
  .default-service-block {
    .inner-box {
      padding-left: 80px;
      padding-right: 20px;
    }
    .icon-box {
      left: 20px;
    }
  }
  .fluid-section-one {
    .left-column, .right-column {
      width: 100%;
    }
    &:before {
      display: none;
    }
    .left-column .inner, .right-column .inner {
      max-width: none;
      padding: 100px 50px;
    }
  }
  .about-us .content-column .inner {
    padding-left: 0px;
  }
  .fluid-section-three .left-column .inner {
    padding-right: 20px;
  }
  .accordion-box .block {
    .acc-btn, .content {
      padding-right: 0px;
    }
  }
  .testimonial-style-three .owl-nav {
    display: none;
  }
  .main-header.light-version {
    position: relative;
    background: #666;
    top: 0px;
  }
  .light-version .main-box .main-menu .navigation > li > ul {
    margin-top: 0px;
  }
  .with-right-sidebar .content-side {
    padding-right: 15px;
  }
  .with-left-sidebar .content-side {
    padding-left: 15px;
  }
  .with-right-sidebar .sidebar {
    margin-left: 0px;
  }
  .with-left-sidebar .sidebar {
    margin-right: 0px;
  }
  .main-header.header-style-three .logo-outer {
    float: none !important;
    text-align: center;
  }
  .testimonial-section {
    padding: 100px 0px 80px 0px !important;
    background-size: 100% !important;
    .testimonial-wrap {
      width: 58.3333333333%;
      padding: 0px 0px 0px 0px !important;
      margin-left: 0px !important;
    }
  }
  .testimonial-bottom-section {
    .author-image {
      margin-top: 15px;
      img {
        width: 80px !important;
        height: 80px !important;
      }
    }
    .testimonial-wrap {
      width: 100% !important;
      .testimonial-text {
        margin-bottom:20px !important;
      }
    }
  }
  .media-left, .media-right {
    width: 30%;
    padding-left: 5% !important;
  }
  .media-body {
    width: 65% !important;
  }
  .main-footer {

    .about-widget {
      p {
        font-size:12px !important
      }
    }

  }
}

@media only screen and (max-width: 992px) {
  .feature-style-1 .company {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
    > li > ul {
      display: block !important;
      visibility: hidden;
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .nav {
    display: block !important;
  }
  .main-header {
    height: 150px;
    .header-top-one {
      .top-right {

      }
    }
  }
  .fixed-header {
    .sticky-header {
      display: none;
    }
  }
  .logo-box {
    .logo {
      margin:0px auto
    }
  }
  .nav-outer {
    .main-menu {

    }
  }
  .toggle {
    display: inline-block;

  }

  .main-header {
    .top-right {
      display: none;
      width:100%;
      padding:0px !important;
      .main-nav {
        float: left;
      }
      .secondary-nav {
        float: right;
        #search-form.show {
          top:-7px;
          z-index: 999;
        }
      }
    }
    .main-box {
      .logo-box {
        top:0px !important;
        width:100%;
        margin: 16px 0 16px 0;
      }
    }
    .navigation {
      width: auto;
      margin: 0px auto !important;
      display: table;
      > li {
        > a {
          font-size: 13px !important;
        }
      }
    }
    .nav-outer {
      display: none;
      float:none !important;
      width: 100%;
    }
  }
  .main-footer {
    #social {
      #facebook {
        width: 50% !important;
        .media-left {
          width: 25% !important;
          padding-left:0px !important;
          .logo {
            width: 80px;
            height: 80px;
            img {
              width: 100%;
            }
          }
        }
        .page-name {
          font-size: 18px !important;
        }
      }
      #twitter {
        width: 50% !important;
        border-right: 0px !important;
      }
      #linkedin {
        width: 50% !important;
      }
    }
    #newsletter-signup {
      width: 50% !important;
      label {
        font-size: 18px !important;
      }
      span {
        font-size:15px !important;
      }
      .email {
        input {
          padding:21px 19px 21px 10px;
          font-size: 13px !important;
          border-top: 1px solid #e1e1e1;
          border-bottom: 1px solid #e1e1e1;
          border-left: 1px solid #e1e1e1;
          -webkit-border-top-left-radius: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -moz-border-radius-topleft: 10px;
          -moz-border-radius-bottomleft: 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 250px;
        }
      }
      .buttons {
        input[type="submit"] {
          padding:21px 16px !important;

        }
      }
    }
    #modal-newsletter {
      min-height:240px !important;
      .nl_content {
        p {
          font-size:13px !important;
        }
        span {
          font-size:13px !important;
        }
      }
    }
    .about-widget .desc-text, .posts-widget {
      padding-right: 0px;
    }
    .subscribe-widget {
      padding-left: 0px;
    }
    .about-widget {
      p {
        font-size:15px !important
      }
    }
  }
  .main-slider {
    h2 {
      margin-top:-40px !important;
    }
    .tp-caption {
      margin-top:-40px !important;
    }
    .location {
      height: 150px;
      .locations {
        ul {
          li {
            a {
              width: 80px !important;
              height:80px !important;
              font-size:13px !important;
              padding:0px 10px;
            }
          }
        }
      }
    }
  }
  .awards-section {
    #awards-wrap {
      .item {
        img {
          width:60% !important;
        }
      }
      p {
        font-size:13px;
      }
      p.award-title {
        font-size:14px !important
      }
    }
  }
  .testimonial-section {
    .testimonial-wrap {
      :before {
        width: 34px;
        height: 24px;
        background-size: 34px 24px;
      }
      .testimonial-text {
        font-size: 20px;
      }
      .testimonial-author {
        font-size: 20px;
      }
      .testimonial-company {
        font-size:14px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  /*.navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }*/
  .main-header {
    .nav-outer {
      padding-right: 0px;
    }
    .main-box .logo-box {
      padding-bottom: 20px;
    }
    .search-box-outer {
      left: 0px;
      right: auto;
      margin: 0px;
      top: 22px;
      z-index: 20;
      border: none;
    }
    .search-box-btn {
      text-align: left;
    }
    .search-box-outer .dropdown-menu {
      top: 40px;
      left: 0px;
      right: auto;
    }
    .logo-outer {
      position: relative;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      margin: 0px;
      padding: 20px 0px;
    }
    .header-top-one {
      .top-right, .top-left {
        width: 100%;
      }
    }
  }
  .main-menu .navigation > li {
    padding: 0;
  }
  .main-header {
    .header-top-one {
      .top-right ul, .top-left ul {
        text-align: center;
        width: 100%;
        margin: 5px 0px;
        padding: 0px;
      }
      .top-right ul li, .top-left ul li {
        margin: 0px 10px;
        padding: 0px;
        border: none;
        display: inline-block;
        float: none;
      }
    }
    .main-menu {
      padding-top: 0px;
      width: 100%;
      margin: 0px;
    }
  }
  .main-menu {
    .collapse {
      max-height: 310px;
      overflow: auto;
      float: none;
      width: 100%;
      padding: 10px 0px 0px;
      border: none;
      margin: 0px;
      -ms-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      &.in {
        padding: 0px 0px 0px;
        border: none;
        overflow: auto;
        margin: 0px 0px 15px;
        -ms-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
      }
    }
    .collapsing {
      padding: 0px 0px 0px;
      border: none;
      overflow: auto;
      margin: 0px 0px 15px;
      -ms-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
    }
    .navbar-header {
      position: relative;
      float: none;
      display: block;
      text-align: right;
      width: 100%;
      padding: 18px 0px;
      right: 0px;
      z-index: 12;
    }
    .navbar-toggle {
      display: inline-block;
      z-index: 7;
      border: 1px solid #24a0de;
      float: left;
      margin: 0px 0px 0px 0px;
      border-radius: 0px;
      background: #24a0de;
    }
  }
  .header-style-two .main-menu .navbar-header .navbar-toggle {
    border: 1px solid #ffffff;
    margin-right: 15px;
  }
  .main-menu {
    .navbar-header .navbar-toggle .icon-bar {
      background: #ffffff;
    }
    .navbar-collapse > .navigation {
      float: none !important;
      margin: 0px !important;
      width: 100% !important;
      background: #131d33;
      border: 1px solid #ffffff;
      border-top: none;
      > li {
        margin: 0px !important;
        float: none !important;
        width: 100%;
      }
    }
    .navigation > li > {
      a, ul:before {
        border: none;
      }
    }
    .navbar-collapse > .navigation > li > a {
      padding: 10px 10px !important;
      border: none !important;
    }
    .navigation {
      li.dropdown > a:after {
        color: #ffffff !important;
        right: 15px;
        font-size: 16px;
        display: none !important;
      }
      > li {
        &.dropdown > a:before {
          color: #ffffff !important;
          right: 15px;
          font-size: 16px;
          display: none !important;
        }
        > ul > li > {
          a::before, ul > li > a::before {
            color: #ffffff !important;
            right: 15px;
            font-size: 16px;
            display: none !important;
          }
        }
      }
    }
    .navbar-collapse > .navigation > li {
      > ul {
        position: relative;
        border: none;
        float: none;
        visibility: visible;
        opacity: 1;
        display: none;
        margin: 0px;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        width: 100%;
        background: #222;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
        -moz-transition: none !important;
        > li {
          > ul {
            position: relative;
            border: none;
            float: none;
            visibility: visible;
            opacity: 1;
            display: none;
            margin: 0px;
            left: auto !important;
            right: auto !important;
            top: auto !important;
            width: 100%;
            background: #222;
            -webkit-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            transition: none !important;
            -webkit-transition: none !important;
            -ms-transition: none !important;
            -o-transition: none !important;
            -moz-transition: none !important;
            > li {
              border-top: 1px solid rgba(255, 255, 255, 0.24) !important;
              opacity: 1 !important;
              top: 0px !important;
              left: 0px !important;
              visibility: visible !important;
            }
          }
          border-top: 1px solid rgba(255, 255, 255, 0.24) !important;
          opacity: 1 !important;
          top: 0px !important;
          left: 0px !important;
          visibility: visible !important;
        }
      }
      border-top: 1px solid rgba(255, 255, 255, 0.24) !important;
      opacity: 1 !important;
      top: 0px !important;
      left: 0px !important;
      visibility: visible !important;
      &:first-child {
        border: none;
      }
      > {
        a {
          padding: 10px 10px !important;
          line-height: 22px;
          color: #ffffff;
          background: #222;
          text-align: left;
          border: 0px;
        }
        ul > li > {
          a, ul > li > a {
            padding: 10px 10px !important;
            line-height: 22px;
            color: #ffffff;
            background: #222;
            text-align: left;
            border: 0px;
          }
        }
        a {
          &:hover, &:active, &:focus {
            background: #24a0de;
          }
        }
      }
    }
    .navigation > li > ul {
      padding: 0;
    }
    .navbar-collapse > .navigation {
      > li {
        &:hover > a {
          background: #222;
          color: #ffffff !important;
        }
        > ul > li {
          &:hover > a, > ul > li:hover > a {
            background: #222;
            color: #ffffff !important;
          }
        }
        &.current > a, &.current-menu-item > a {
          background: #222;
          color: #ffffff !important;
        }
      }
      li.dropdown {
        .dropdown-btn {
          display: block;
        }
        &:after {
          display: none !important;
        }
      }
    }
    .navigation > li > ul:before {
      display: none !important;
    }
  }
  .main-slider, .page-title {
    margin-top: 0px !important;
  }
  .main-slider .tp-caption {
    display: block !important;
    margin:0px !important;
    top:130px !important;
    h2 {
      margin:0px !important;
      line-height: 2 !important;
      font-size:18px !important
    }
    .theme-btn {
      width: auto !important;
      font-size: 13px !important;
      padding: 10px !important;
      top:130px !important;
    }
  }
  .main-slider {
    .location {
      .locations {
        margin-top:10px;
        ul {
          li {
            a {
              width: 60px !important;
              height:60px !important;
            }
          }
        }
      }
    }
  }
  .what-we-do .outer {
    &:before, &:after {
      display: none !important;
    }
  }
  .sec-title h2, .default-title h2 {
    font-size: 20px;
  }
  .page-title h1 {
    font-size: 24px;
  }
  .default-service-block {
    .inner-box {
      padding: 0px !important;
      text-align: center;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }
    .icon-box {
      position: relative !important;
      display: inline-block;
      text-align: center;
      left: 0px !important;
      top: 0px !important;
      margin: 0px 0px 30px;
    }
  }
  .awards-section {
    #awards-wrap {
      .item {
        img {
          width: 186px !important;
        }
      }
    }
  }
  .testimonial-section {
    .testimonial-wrap {
      &:before {
        width: 24px !important;
        height: 19px !important;
        background-size: 24px 19px !important;
        margin: 0px auto 26px auto !important;
      }
      .testimonial-text {
        font-size: 15px;
      }
      .testimonial-author {
        font-size: 15px;
      }
      .testimonial-company {
        font-size: 13px;
      }
    }
  }

  .sponsors-style-one .content-column {
    text-align: center;
  }
  .testimonial-style-one .carousel-content .slide {
    margin-left: 0px;
    .icon-box {
      position: relative;
      left: 0px;
      top: 0px;
      margin: 0px 0px 15px;
    }
  }
  .fluid-section-one {
    .left-column .inner, .right-column .inner {
      padding: 80px 20px;
    }
  }
  .what-we-do .outer .service-block-one {
    &:nth-child(1), &:nth-child(2) {
      margin-bottom: 30px;
    }
  }
  .service-block-one .inner-box, .service-block-two .inner-box {
    text-align: center;
    padding-left: 0px;
  }
  .service-block-one .inner-box .icon-box, .service-block-two .inner-box .icon-box {
    position: relative;
    display: block;
    left: 0px;
    top: 0px;
    margin: 0px 0px 20px;
  }
  .fluid-section-one .left-column .info-list li {
    width: 100%;
    padding-left: 0px;
    min-height: 0px;
    margin-bottom: 20px;
    .icon {
      position: relative;
      display: block;
      left: 0px;
      top: 0px;
      margin: 0 0 20px;
    }
  }
  .service-block-one .inner-box .text {
    padding-right: 0px;
  }
  .fluid-section-two .content-column .inner {
    padding: 70px 20px 30px;
  }
  .service-details blockquote .txt::before, .news-style-two .lower-box blockquote .txt:before {
    display: none;
  }
  .service-details blockquote .txt, .news-style-two .lower-box blockquote .txt {
    padding: 0px;
  }
  .service-details blockquote, .news-style-two .lower-box blockquote {
    padding: 30px 20px;
  }
  .get-quote-section .get-quote-bg {
    padding-left: 15px;
    padding-right: 15px;
  }
  .service-block2 {
    display: grid;
    max-width: 500px;
    margin: 0 auto 30px;
  }
  .switcher .switch_btn {
    top: 44px;
  }
  .main-header .outer-box2 {
    left: 0;
    right: inherit;
    z-index: 99;
  }
  .outer-box2 .search-form .form-group {
    display: inline-block;
  }
  .footer-bottom {
    .footer-nav {
      text-align:center;
      .pull-left {
        float: none !important;
        width: auto;
        display: inline-block;
      }
      padding: 20px 0px;
    }
    .copyright-text {
      width: 100%;
      float: none !important;
      text-align:center
    }
  }
  .main-footer {
    #social {
      #facebook {
        margin-bottom: 20px;
        .media-left {
          width: 32% !important;
        }
      }
      #twitter {
        margin-bottom: 20px;
      }
      #linkedin {
        margin-bottom: 20px;
      }
    }
    #newsletter-signup {
      margin-bottom: 20px;
      .email {
        input {
          width: auto !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .main-header {
    .header-top-one {
      .top-right {
        border-bottom:0px !important;
        .main-nav {
          display: none;
        }
        .secondary-nav {
          ul li {
            display: none;
            &:last-child {
              display: block !important;
            }
          }
          .search-box-outer {
            top:16px;
            #search-form {
              width: 260px;
              input[type=text] {
                width: 200px;
                float: left;
              }
            }
          }
        }
        #search-trigger {
          width: 24px;
          height:28px;
        }
      }
    }
    .header-lower {
      .logo-box {
        width: 100%;
        margin: 0px auto !important;
        float: none;
        display: table;
        top: 10px !important;
      }
      .nav-outer {
        display: none;
      }
      .toggle {
        display: block !important;
        top:-85px !important;
        left:0px !important;
        overflow: hidden;
        z-index: 10;
        .navbar-header {
          width: 50px;
          z-index: 500;
          display: inline;
          margin: 0px;
          padding: 0px;
        }
        .navbar-collapse {
          background: #ffffff;
          padding-top: 20px;
          margin-top:0px !important;
          .navbar-nav {
            text-align: center;
            > li > a {
              color: #1D1D1D;

            }
          }
          .lang {
            float: left;
            width: 50%;
            text-align: center;
          }
        }
      }
    }
  }
  .main-slider {
    .main-heading {
      top: 25% !important;
      margin-top: 0px !important;
      h2 {
        font-size:15px !important;
      }
    }
    .main-call-out {
      top:0px !important;
      margin-top:0px !important
    }
    .location {
      padding:25px 0px;
      height:auto;
      position: inherit;
      background: #9E0442;
      h4 {
        margin-top: 0px;
      }
      ul {
        li {
          a {
            margin: 0px auto;
            position: relative;
            top: 16px;
            display: block !important;
            font-weight:bold !important;
          }
        }
      }
    }
    .tp-caption {
      .theme-btn {
        font-size: 10px !important;
        top: 120px !important;
      }
    }
  }
  .default-section {
    .services-outer {
      .default-service-block {
        .inner-box {
          padding: 0px;
          overflow: hidden;
          .icon-box {
            position: inherit;
            top:0px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .sec-title {
      &.centered {
        margin-bottom: 50px;
      }
    }
  }
  .testimonial-section {
    background-size: 100% !important;
    .testimonial-wrap {
      width:100%;
    }
  }
  .testimonial-bottom-section {
    .testimonial-wrap {
      padding:0px 0px 10px 0px !important;
      margin:0px !important;
      .testimonial-text {
        font-size:14px;
        padding: 0px !important;
      }
      .testimonial-author {
        font-size:14px;
      }
      .testimonial-company {
        font-size:14px;
      }
    }
    .author-image {
      margin-top:20px !important;
      img {
        width: auto !important;
        height:auto !important;
      }
    }
    .testimonial-video {
      padding:0px !important;
      margin: 20px 0px 100px 0px !important;
    }
  }
  .callback-section {
    background-size:cover !important;
    .sec-title {
      h2 {
        font-size: 25px;
      }
    }
  }
  .main-footer {
    #social {
      #facebook {
        width: 100% !important;
        border-right: 0px !important;
        border-bottom: 1px solid #ebebeb !important;
        margin-bottom:20px;
        padding:0px 0px 20px 0px !important;
        .media-left {
          width: 25% !important;
          padding-left:0px !important;
          .logo {
            width: 50px;
            height: 50px;
            img {
              width: 100%;
            }
          }
        }
        .page-name {
          font-size: 18px !important;
        }
      }
      #twitter {
        width: 100% !important;
        border-right: 0px !important;
        border-bottom: 1px solid #ebebeb !important;
        margin-bottom:20px;
        padding:0px 0px 20px 0px !important;
      }
      #linkedin {
        width: 100% !important;
        border-right: 0px !important;
        border-bottom: 1px solid #ebebeb !important;
        margin-bottom:20px;
        padding:0px 0px 20px 0px !important;
      }
    }
    #newsletter-signup {
      width: 100% !important;
      border-right: 0px !important;
      margin-bottom:20px;
      padding:0px 0px 0px 0px !important;
      label {
        font-size: 16px !important;
      }
      span {
        font-size:14px !important;
      }
      .email {
        input {
          padding:21px 19px 21px 10px;
          font-size: 13px !important;
          border-top: 1px solid #e1e1e1;
          border-bottom: 1px solid #e1e1e1;
          border-left: 1px solid #e1e1e1;
          -webkit-border-top-left-radius: 10px;
          -webkit-border-bottom-left-radius: 10px;
          -moz-border-radius-topleft: 10px;
          -moz-border-radius-bottomleft: 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 200px !important;
        }
      }
      .buttons {
        input[type="submit"] {
          padding:21px 16px !important;

        }
      }
    }
    #modal-newsletter {
      min-height:360px !important;
      .nl_content {
        p {
          font-size:13px !important;
        }
        span {
          font-size:13px !important;
        }
      }
    }
    .about-widget {
      overflow: hidden;
      width: 300px;
      margin: 0px auto;
    }
    .subscribe-widget {
      padding-left: 0px;
    }
    .about-widget {
      p {
        font-size:15px !important
      }
    }
  }
  .footer-bottom {
    .footer-nav {
      padding:0px !important;
      ul {
        width: auto;
        text-align: center;
        float: none !important;
        display: inline-block;
        li {
          margin:0px !important;
          padding:0px 10px !important;
        }
      }
    }
    .copyright-text {
      float: none !important;
      text-align: center;
    }
  }
}