.main-slider {
  position: relative;
  z-index: 10;
  .tp-caption {
    z-index: 5;
    text-align: center;
  }
  .youtube-video {
    position: relative;
    .video {
      /*visibility: hidden;
      opacity: 0;*/
      transition: all 100ms ease-in;
    }
    .overlay {
      position: absolute;
      /*height: 100%;*/
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      background: rgba(0, 0, 0, 0.6);
    }
    &.video-playing {
      .video {
        /*visibility: visible;
        opacity: 1;*/
      }
      .overlay {
        &:hover {
          .pause {
            display: block;
          }
        }
      }
    }

    /*&.video-paused {
        .play {
            display: block;
        }
    }*/

    &.video-playing {
      .play {
        display: none;
      }
    }

    .play, .pause {
      direction: ltr;
      background: #008fd6;
      border-radius : 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -50px 0px 0px -50px;
      transition: all 300ms ease-out;
      &:hover {
        opacity: 1;
        background: #FFF;
        &:after, &:before {
          border-left-color: #008fd6;
        }
      }
    }

    .play {
      &:after {
        border-left: 25px solid #FFF;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        content: '';
        width: 0px;
        height: 0px;
        display: block;
        margin: 30px 40px;
      }
    }

    .pause {
      display: none;
      &:after, &:before {
        content: '';
        width: 0px;
        height: 30px;
        display: inline-block;
        border-left: 10px solid #FFF;
      }

      &:before {
        margin: 35px 0px 0px 38px;
      }
      &:after {
        margin: 35px 0px 0px 5px;
      }
    }
  }
}

.tp-dottedoverlay {
  background: none !important;
}

.main-slider {
  .main-heading {
    width:100%;
    position: absolute;
    top:50%;
    margin-top:-100px;
    h2 {
      font-weight: 400;
      line-height: 1.2em;
      color: #fff;
      font-size: 43px;
      font-family: 'Lato Light', sans-serif;
      letter-spacing: 1px;
      text-align:center;
    }
  }
  .main-call-out {
    width:100%;
    position: absolute;
    top:50%;
    margin-top:50px;
  }
  h3 {
    font-weight: 700;
    line-height: 1.4em;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .text {
    font-weight: 400;
    line-height: 1.8em;
    color: #fff;
    font-size: 16px;
  }
  .tp-caption {
    .theme-btn {
      border-width: 2px !important;
      color: #ffffff;
      &.btn-style-one:hover, &.btn-style-two:hover {
        //color: #000000;
      }
    }
    z-index: 5;
    width: 100%;
    left: 0px !important;
  }
  .slide-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 27, 40, 0) !important;
  }
  .tp-bannertimer {
    display: none !important;
  }
  .tp-bullets.preview3 .bullet {
    background: none !important;
    width: 10px !important;
    height: 10px !important;
    border: 3px solid #48c7ec !important;
    border-radius: 50% !important;
    margin: 0px 7px;
    &:hover, &.selected {
      background: #48c7ec !important;
    }
  }
  .tparrows {
    &.preview3 {
      background: none !important;
      width: 30px !important;
      overflow: hidden;
      margin-top: -55px !important;
      height: 110px !important;
      &::after {
        top: 0px;
        background: rgba(255, 255, 255, 0.3);
        color: #ffffff;
        font-size: 18px;
        height: 110px !important;
        line-height: 110px;
        width: 30px !important;
        border: none;
        padding: 0px;
        border-radius: 0px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
      }
    }
    &.tp-leftarrow.preview3::after {
      content: '\f104';
      font-family: 'FontAwesome';
    }
    &.tp-rightarrow.preview3::after {
      content: '\f105';
      font-family: 'FontAwesome';
    }
    &.preview3 {
      &.tp-leftarrow {
        left: 0px !important;
      }
      &.tp-rightarrow {
        right: 0px !important;
      }
      &:hover::after {
        background: #333;
        border-color: #333;
      }
      .tp-arr-iwrapper {
        visibility: hidden;
        opacity: 0;
        display: none;
      }
    }
  }
  .location {
    background: url(/images/overlay.png) repeat-x;
    width: 100%;
    height: 170px;
    position: absolute;
    bottom: 0px;
    z-index: 900;
    h4 {
      font-size:18px;
      line-height: 1;
      color:#FFFFFF;
      margin-top:30px;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Lato Medium', sans-serif;
    }
    .locations {
      margin:0px;
      text-align: center;
      ul {
        li {
          display:inline-block;
          padding: 0px;
          &:hover {
            font-family: 'Lato', sans-serif;
            font-weight:700;
            background: url("/images/hover.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          a {
            width:124px;
            height:95px;
            font-family: 'Lato Light', sans-serif;
            color: #FFFFFF;
            font-size:19px;
            vertical-align: middle;
            display: table-cell;
          }
        }
      }
    }
  }

}

.tp-bullets {
  display: none;
}